[2018-06-28 18:50] Joelkang opened #1 "Remove stage-0 from babelrc config in package.json"
Hey @aholachek, great library! I just dropped it into my https://github.com/bvaughn/react-virtualized `Grid` and it Just Worked™!

I was, noticing that you had this in the babel config though: do we really need it? I scanned through the code and it doesnt seem like there's any stage 0 code in there
https://github.com/aholachek/react-flip-toolkit/blob/47c442ef2023d3c72edfb0d0a0e92e31b19a34da/packag

[2018-06-28 20:49] aholachek commented on #1
Thanks for pointing this out. This config was just for jest (I use the nwb module bundler which handles babel compilation for the library separately). I've moved the babel config into its own `jest.transform.js` file and removed the unnecessary `stage-0` that you found

[2018-06-28 20:49] #1 closed

[2018-07-12 19:30] madwill opened #2 "Unknown event handler property `onexit`. It will be ignored."
First of all thank you for such a great library, its beautiful and really easy to use.

Second sorry to ask here but I'm not sure where to.

Following the given example I tried to add the onExit callback for the Flipped element and somehow, it appears onExit gets lowercased into onexit and triggers a React warning that it will be ignored.

There is a good chance that the problem is from me but it

[2018-07-12 20:02] FezVrasta opened #3 "Style the Flipper div?"
Is there any way to give some custom CSS to the Flipper div? Specifically, I'd need to set its width to `100%` to make it fit its context.

[2018-07-12 20:14] aholachek commented on #2
Thank you for making an issue! I'm puzzled by this one so I will have to dig into it tonight.

As long as it's on the `Flipped` component, the `onExit` prop should never make its way onto the `li`, you can see [a codepen demo with `onExit` callbacks on `li` elements here](https://codepen.io/aholachek/pen/gKjYNw?editors=0110) that works properly.

[2018-07-12 20:18] aholachek commented on #3
Hi @FezVrasta, right now there's nothing, but that's an oversight.

If I added an optional `className` prop to put on the `Flipper` `div`, would that solve your use case? If so I can add it tonight.

[2018-07-12 20:19] FezVrasta commented on #3
Yes I think that'd be enough, thanks!

[2018-07-12 20:27] FezVrasta opened #4 "Animation from panel to button looks off?"
![infopanelanimation](https://user-images.githubusercontent.com/5382443/42657482-2b3d7ca6-85d7-11e8-9be4-8f1f3930b8d7.gif)

As you can see, when the component switches from the "panel view" to the "button view", the button behaves weirdly.

Do you have any idea? May I be doing something wrong?

[2018-07-12 20:35] madwill commented on #2
Yes! your example do work!

For what its worth I used CRA to make the initial boilerplate. I'm starting to think it has to do with the transformation of JSX.

For example onAppear does not create this issue, I also used onComplete to test and did not get an issue as well.

But as soon as i use onExit it gets lowercased and throw this error. I'll let you know if i find anything else.

Thanks again!

[2018-07-12 20:43] madwill commented on #2
Yep, pretty sure it makes it to the `li` because it gets transformed into lowercase and you are using the spread operator on `rest`. Since you pull onExit, onexit goes through.

Why would that happen is still a mystery. Bet if i change it to onRemove it'll work. But that is Voodoo troubleshooting.

[2018-07-12 21:11] aholachek commented on #4
I'm not sure, sorry. Is it possible that there is a container element that is getting scaled up during the button's animation?

Can you try putting the `debug` prop on the `Flipper` component to cancel the animation after the initial application of `flip` styles? (I haven't really documented it yet but [it's described here](https://github.com/aholachek/react-flip-toolkit#faq)) That might yield som

[2018-07-12 21:17] FezVrasta commented on #4
![infopanelanimation](https://user-images.githubusercontent.com/5382443/42659793-36d7a5bc-85de-11e8-8573-daef63322aaf.gif)

This is what I get, I don't have any other animation a part for the ones applied by your library

[2018-07-12 21:35] FezVrasta commented on #4
Ah fuck, nevermind, I have `transition 0.2s all` on the button component 🙄

[2018-07-12 21:35] #4 closed

[2018-07-12 21:37] FezVrasta commented on #4
Now I wonder if I could make the transition be different, so that the panel shrinks to reach the size of the button *and then* it gets replaced by the button 🤔

[2018-07-13 03:40] aholachek commented on #3
I added the `className` prop ([documented here](https://github.com/aholachek/react-flip-toolkit#props)), thank you for for suggesting it.

[2018-07-13 03:40] #3 closed

[2018-07-13 12:37] madwill commented on #2
So i did change it to onRemove and it works without the warning in Create React App. If i figure out why onExit gets transformed into lowercase i'll let you know!

[2018-07-16 05:30] rockmandash opened #5 "[Feature Request] Working with portal."
Hello! Thank you for this amazing library.
Everything is so wonderful, but I want to know if it is possible to compatible with react portal.
Right now, portal will work fine, but the animation will be lost.
Don't know what do you think. Thank you!

[2018-07-17 01:15] aholachek commented on #5
This is a good suggestion! I think it should be fairly easy to add, I'll look into it and let you know.

[2018-07-17 02:43] rockmandash commented on #5
@aholachek Thank you for your listening!

[2018-07-18 21:45] FezVrasta opened #6 ""reverse" animation?"
This is more a discussion than an issue, I'd like to understand if it'd be in scope of this project.

I think it would be valuable to have a way to keep the element that is being unmounted around, and have it do the opposite of what the element that is being mounted is doing.

Basically, if I have this panel (the gif is pretty terrible, actually when it collapses, the white box shrinks to be the s

[2018-07-23 03:01] aholachek commented on #5
Hello,
I just published a new version, `3.1.0`, which should allow you to work with portals.
You will have to add a new prop to the `Flipper` component, `portalKey`.
[I documented it at the bottom of the props table for the `Flipper` component.](https://github.com/aholachek/react-flip-toolkit#props)

[Here's a demo of it working](https://literate-fly.surge.sh/portal)
[And here's the code for the d

[2018-07-23 03:19] rockmandash commented on #5
@aholachek OMG, WOW.
The working demo is so beautiful!!
Can't believe it's happening!
You are so cool!
Thank you!!!
I will share this project with more people!

[2018-07-23 03:19] #5 closed

[2018-08-01 03:34] atomiks opened #7 "Problem when flipper is inside grid"
https://codepen.io/anon/pen/JBpqJr?editors=0010

As you can see with the `debug` property added, the initial inverted transform warps the text.

If I add `translate` or `scale` prop then are problems with the translation. Editing [this pen](https://codepen.io/aholachek/pen/mKXBJR?editors=0010) to remove the flex centering so that the text is positioned in the top-left and use `scale` prop, the tex

[2018-08-01 17:34] aholachek commented on #7
Hi! Thank you for making an issue. If you add a style if `inline-block` to the inner container surrounding the text and button, it should work ok.

[Here's a fork of your codepen with the fix.](https://codepen.io/aholachek/pen/vaRddr?editors=0110)

In the pen you posted, the contents of the div were staying the same size, but the div was jumping to a much bigger width when it was in the full scree

[2018-08-01 23:25] atomiks commented on #7
It works! Yeah, the z-index issue was another thing I noticed but thankfully there's a solution for now.

This library is so insanely good and looked difficult to make, thank you for providing it for us 🙏 .

[2018-08-01 23:25] #7 closed

[2018-08-11 23:58] doppelgunner opened #8 "Why does my dropdown flickers while translating from one place to another?"
Im trying to imitate the example, but i experience flickering

[2018-08-12 03:08] aholachek commented on #8
Hi doppelgunner, do you have any more information? If you could replicate the problem on codepen or another sandbox, I could investigate it.

[2018-08-23 18:02] aholachek commented on #8
Hi, I'm going to close this for now. Feel free to reopen if you can provide more information.

[2018-08-23 18:02] #8 closed

[2018-08-24 22:07] tezrosolutions opened #9 "Do you have a CDN for it? I want to use it in my existing HTML5 project."

[2018-08-24 22:16] aholachek commented on #9
Hi there, please try using `https://unpkg.com/react-flip-toolkit@latest/umd/react-flip-toolkit.js`

[2018-08-29 21:32] ai opened #11 "2 lock files"
I found that you have 2 lock files `yarn.lock` and `package-lock.json`. Is it by design? Or maybe it is just small mistake and we can remove one of lock files?

[2018-08-29 23:45] #9 closed

[2018-08-30 01:50] zackjohnlee opened #14 "Object(...) is not a function"
Getting an error that says: TypeError: Object(...) is not a function. from line 14 of Flipper.js

the error is pointing to the line:
export var FlipContext = createContext("flip");

not sure what this means, I've set up flipper exactly as described. nothing I do seems to alleviate this error.

[2018-08-30 02:37] aholachek commented on #14
Hi, are you using React 15.x by any chance? React-flip-toolkit only supports 16+. It's in the docs but it's near the bottom, I should probably make it clearer.
If you are already using 16, I will have to do some digging as I'm having trouble reproducing.

[2018-08-30 06:35] avin opened #15 "README. Windows 7. Emoji problem :)"
![image](https://user-images.githubusercontent.com/36100/44833823-f47fe000-ac37-11e8-80bc-5c6016def076.png)

[2018-08-31 04:26] zackjohnlee commented on #14
hi, thanks for the quick reply. I am using 16.4.

[2018-09-02 18:45] aholachek commented on #15
Hi, thank you for pointing this out! It should be fixed now.

[2018-09-02 18:45] #15 closed

[2018-09-02 19:33] aholachek commented on #11
I removed yarn.lock, thanks for catching.

[2018-09-02 19:33] #11 closed

[2018-09-04 16:33] ai opened #18 "Nothing is happening"
Sorry, I came with the hardest issue “I added a library, but there is no any animation”.

It is definitely because I didn’t understand something or made some stupid mistake. But it could be a good opportunity to improve the docs or add a warning =^_^=.

I added FLIP toolkit to our popups.

[code]

Here is a link, which will open a popup:

[code]

Tested, `flipKey` is updating every time, when popu

[2018-09-04 17:08] aholachek commented on #18
Hi! I definitely need to put a little more work into the Readme, hopefully this is just a misunderstanding and not a bug.

If I understand correctly, you want to transition the `Tile` link component into the `Popup` component itself.

As the first thing I thought of, do you know if the `Flipper` component is high enough in the tree that it is persistent and remains over the course of the animation

[2018-09-04 19:44] ai commented on #18
I hope I can help you with it. I really like the project and want to spread it and spread animations.

Yeap

Yeap. Sorry, I missed it. Flipper wrap all popups *and* main page (with Tile).

[code]

[2018-09-04 22:04] aholachek commented on #18
Hmm I'm not sure. I tried to make [a minimal test case here](https://codepen.io/aholachek/pen/xarrPQ?editors=0110),  and it errors out with JSON as a flipId because I guess that's not a valid selector. Could you try using a simple string as a flipId instead and see if that helps? I don't know if you are seeing the same error on your end though.

[2018-09-05 09:19] ai commented on #18
Replacing `flipId` to simple string didn’t help.

I will try to just go into the code and debug it line-by-line. Maybe it will be better to heavy environment related bugs.

[2018-09-06 15:03] aholachek commented on #14
Hi, unfortunately I have not been able to reproduce this bug on React 16.x.x. The steps I took were:
1. Install fresh project with `create-react-app`, add `react-flip-toolkit`, and implement a small animation. (This worked fine).
2. Downgrade `react` and `react-dom` to 15.x.x.
3. See the same error you're seeing:
![screen shot 2018-09-06 at 10 55 50 am](https://user-images.githubusercontent.com/36

[2018-09-06 15:03] #14 closed

[2018-09-15 04:52] aholachek commented on #18
Thank you for taking the time to figure out what was happening. I made the same "duplicate elements" mistake a few times when I was writing the library.

I [added a console warning](https://github.com/aholachek/react-flip-toolkit/blob/v4.0.7/src/flip/animateFlippedElements/index.js#L164), as you suggested, which will hopefully make things clearer for people in the future. It's [briefly mentioned i

[2018-09-15 04:54] ai commented on #18
Wow, it was very quick 👍

[2018-09-15 04:54] #18 closed

[2018-09-17 16:47] marjan2k opened #20 "List Reorder, wait till element is removed"
Hello,

My list re-order animation is starting as soon as the element from the array is removed.

I want it to wait until the onExit animation for the element is finished.

Is there a way to do so?

https://gist.github.com/marjan2k/9cc9810d07f0517e4c2530f416d97c9f

[2018-09-18 13:43] chocobuckle opened #21 "Just curious if this only works with React 16+?"
I'd like to use it with Gatsby v1, which uses React 15.6.2.

Either way, thanks for your great work and contribution to the community! :)

[2018-09-18 13:57] aholachek commented on #21
Hi there, the library is React 16+ only to keep things a little simpler.

Have you seen [gatsby-plugin-react-next](https://www.npmjs.com/package/gatsby-plugin-react-next)? I had a V1 gatsby site that I wanted to try out `react-flip-toolkit` with, and using that plugin made it painless to upgrade to 16.

[2018-09-18 14:02] aholachek commented on #20
Hi!
Unfortunately the library doesn't support that delay at the moment.
I will look into improving the configurability of the enter and exit transitions this weekend and comment here with any updates.

[2018-09-28 12:51] Stanko opened #22 "Warning: Unsafe legacy lifecycles in Flipper"
Hello,
First, I want to thank you for the effort and the great library.

On one of the project I'm working on (React 16.2.0) I get the following error:

[code]

There are no real problems introduced by this issue, I'm more puzzled by it.

Funky thing is that I can't see `componentWillReceiveProps` nor `componentWillUpdate` anywhere in `Flipper.js`. Could it be related to one of the dependencies? A

[2018-09-28 13:01] Stanko commented on #22
Heh I'm little bit embarrassed now :)
It was due `package-lock.json` which was forcing the old version of the library.

Sorry for the false alarm!

[2018-09-28 13:01] #22 closed

[2018-09-28 13:11] aholachek commented on #22
I'm glad it resolved easily! Thanks for looking into it.

[2018-10-02 15:22] carsonjones opened #23 "Flipped children styles not respeced"
Hi Alex! Great work on the library. We are exploring implementing a similar menu to the one you've demo'd in your [react-stripe-menu](https://github.com/aholachek/react-stripe-menu) example, so many thanks for publicizing your hard work!

I come to you with a bug I've noticed during our own implementation that is present in yours as well. It appears a "flipped" element's children styles no longer

[2018-10-02 19:01] carsonjones commented on #23
Hold up fam - this might be easier than I imagined. I'm thinking this is a `z-index` problem.

Will report back when I've found more.

[2018-10-02 21:00] carsonjones commented on #23
Yep! My theory checked out.

I solved this problem by adding some `z-index` to the inverted element. This Component in  [react stripe menu](https://github.com/aholachek/react-stripe-menu/blob/master/src/DropdownContainer/Components.js#L69) would become:

[code]

This ensures that the active component always appears above in the dom.

@aholachek - I'd be more than happy to open a PR in react-stripe

[2018-10-02 21:00] #23 closed

[2018-10-02 21:05] aholachek commented on #23
Thank you for investigating and finding a solution! A pr would definitely be welcome.

[2018-10-02 21:07] aholachek commented on #2
I've been on the lookout to try to reproduce this and haven't been able to yet. I'll close this (for now).

[2018-10-02 21:07] #2 closed

[2018-10-03 10:10] kimfucious opened #24 "Cards not flipping when mapping over an array that renders a card component"
Hey guys,

This looks like a nice library.  I'm coming from using React-Flip-Move, which isn't being maintained.

I've scoured the web (nothin on stackoverflow) and pored over the docs and examples here, but can't seem to make things flip with the code below.

In brief I'm mapping over an array that gets filtered when a user clicks on various controls on the page.  So I'm using the length of that

[2018-10-03 13:02] aholachek commented on #24
Hi, I think I know what the problem is, it's a bit of a gotcha. The `Flipped` component passes down `data-*` attributes directly to a wrapped JSX element. Unless your `ProjectListItem` is passing through unrecognized props directly to its wrapper DOM element, it is losing those data-* attributes and so `react-flip-toolkit` can't find them. Could you try moving the `Flipped` component inside the re

[2018-10-03 13:46] kimfucious commented on #24
@aholachek awesome!  or should I say, "Flipping Awesome!" 😉

I moved Flipped into ProjectListItem (surrounding the entire Card) as suggested, keeping Flipper in the parent.

I had to do a slight re-jig in the parent, per the below, replacing the top div (shown in code above) with Flipper and using the **very handy** className prop to get the cards working well with the structure I've created; othe

[2018-10-03 16:03] #24 closed

[2018-10-04 13:54] slikts opened #25 "Is there a way to create a sequence of animations?"
Is there some way to hook into when an animation ends so that a different one could be started?

[2018-10-04 15:29] slikts commented on #25
Not sure how I missed `onComplete`; sorry for the noise.

[2018-10-04 15:29] #25 closed

[2018-10-07 18:19] dumblole opened #27 "flipId and flipKey"
Sorry if this is a stupid question, but I have spent many many hours trying to figure out what flipId and flipKey actually do. I've been playing around with the nested example but I'm not sure how the flipId and flipKeys affect the divs. What I'm trying to do is basically the photo-grid example but when the animation finishes (the image is expanded) the page changes using navigateTo() to the actua

[2018-10-08 01:28] aholachek commented on #27
Hi, not a dumb question, probably just a sign that the documentation needs to be improved.

I think the fact you are trying to do this with Gatsby complicates things. I'm definitely not the expert on this but my personal website is built on Gatsby V2 and I ended up having to use [gatsby-plugin-layout](https://www.gatsbyjs.org/packages/gatsby-plugin-layout/) to get a non-remounting container compon

[2018-10-08 01:29] dumblole commented on #27
Okay, I have flipId covered and I think I can deal with flipKey with a bit of research. Thank you for the quick response and I will ping you if something comes up.

[2018-10-08 01:30] dumblole commented on #27
Also, should the flippers be in the actual article page or the list of articles page @aholachek

[2018-10-08 01:44] dumblole commented on #27
@aholachek  I just checked it out, but the documentation says that gatsby-plugin-layout was removed in gatsby v2. Is there any other way I could do this?

[2018-10-08 14:13] vitalybe opened #28 "Nested child behaves strangely"
I've done a really simple example but it seems I missing something, why in this case the child black box doesn't do what I expect: Adjust its position to the expected ending position and instead jumps around?

https://codepen.io/vitalybe/pen/MPbLPW

What am I missing?

[2018-10-08 14:19] aholachek commented on #27
[gatsby-plugin-layout](https://www.gatsbyjs.org/packages/gatsby-plugin-layout/) was not removed in V2, it was actually added in V2 to replicate the behavior of the V1 layout system. It allows a component (in your case, the `Flipper`) to be persistent across routes, which I think V2 makes difficult/impossible without the layout plugin.

[2018-10-08 14:40] aholachek commented on #28
Hi Vitaly, [here's a forked example that fixes the problem](https://codepen.io/aholachek/pen/bmBZGJ?editors=0110) (Let me know if this is not what you had in mind!)
By applying the flex styles to the inner `card-content` rather than the outer `card`, the jump is prevented because those styles receive the scale cancellation provided by the `inverseFlipId`.

[2018-10-08 15:07] vitalybe commented on #28
Oh! That's definitely what I had in mind. Thank you!

So, is there some rule of thumb about the parent container of `<Flipped>` content? Does it mean the parent container has to be static? What does it mean for more complicated animations?

[2018-10-08 15:07] #28 closed

[2018-10-08 15:15] aholachek commented on #28
I think it's more a rule of thumb about any `Flipped` components that use `inverseFlipId`.

In order to fully cancel out the parent's scale and transform animation, the components with `inverseFlipId` must lie flush with the parent container -- so there can't be any padding or flex styles or other layout styles on the parent, those have to be moved to the child with the `inverseFlipId`.

I need to

[2018-10-09 00:05] dumblole commented on #27
Sorry if i'm being annoying. Just to clarify, should I install the plugin or...?

[2018-10-09 18:27] aholachek commented on #27
As far as I know, V2 needs that plugin in order to keep components mounted across route changes. That's a prerequisite for animated page transitions.

I'm going to close this issue as it's not directly about a problem with React Flip Toolkit.

[2018-10-09 18:27] #27 closed

[2018-10-13 11:24] vitalybe opened #29 "Fade out animation callback is ignoring element's transforms"
Please see the following example:

https://codesandbox.io/s/qzp4zrr206

Click "Move" and note that the box fade in and moves correctly, but when the times comes to fade out, it jumps back as if the transform did not occur.

I thought it was an issue with animeJS, however, if I comment out the `anime` in fade-out, you can see still that `react-flip-toolkit` puts it there:

https://codesandbox.io/s/

[2018-10-13 14:50] aholachek commented on #29
Hi, thank you for this detailed issue.

This is a bug, I think.  [I was able to produce what I think is the correct animation by just using flex-styles on the parent to vertically center the child,  instead of a transform directly on the child](https://codesandbox.io/s/xl5xrvmn2o)

here's what I changed, beyond removing the `transform: translateY` on the box:

[code]

I need to look into why the r

[2018-10-17 20:35] ConneXNL opened #30 "Flipper to support the events like Flipped does"
It would be awesome if there are some events on the Flipper object that mimic Flipped' events.

Something like onStartAll, or onCompleteAll?

[2018-10-18 00:21] #29 closed, assigned to nobody

[2018-10-18 11:57] eddeee888 opened #31 "Missing staggerConfig in index.d.ts"
`staggerConfig` is missing in `index.d.ts` file causing following error while I try to use it on `Flipper`:

```Property 'staggerConfig' does not exist on type 'IntrinsicAttributes & FlipperProps & { children?: ReactNode; }'.```

I can create a PR to add this if needed

[2018-10-18 14:03] aholachek commented on #31
Hi, sorry about that.
Does [this pr](https://github.com/aholachek/react-flip-toolkit/pull/32/files) look like it would solve the problem? I'll try to make a patch release with it sometime today.

[2018-10-18 22:30] eddeee888 commented on #31
I think it should be like this:
[code]
`reverse?: boolean`: because in the example, reverse looks like it's optional

`speed: number`: this could either be `speed` or `speed?` - depending on how you intend to use it. I went with `speed` because I'm think this is the main value we are trying to set for stagger

`default: StaggerConfigValue`: I added this because it looks like `default` is a reserve

[2018-10-19 00:02] ConneXNL commented on #30
I thought about using that but what if that element isn't even flipping? Additionally, I have multiple flipped instances at different places in the three so it will be very hard to put the event on the correct element.

[2018-10-19 02:16] aholachek commented on #30
Good point, I can add this. What, if anything, would you want to pass into the callback functions as arguments?

[2018-10-19 15:00] aholachek commented on #31
Thank you for your help! I just released 5.0.4 with your suggested changes, please reopen this issue if anything is still broken.

[2018-10-23 07:05] ConneXNL commented on #30
Hmm, not sure if there is anything. Maybe the instance of the Flipper object? Or references to the Flipped objects that are about to be animated/finished animating?

But if there is no use-case for it and it costs additional resources then it's not worth it.

Personally I would use the onStart/onComplete toggle some performance related stuff for smooth shuffling animations.

[2018-10-29 16:42] collegeimprovements opened #33 "Can we use it with React Hooks ?"

[2018-10-30 09:55] ConneXNL commented on #33
On a side-note: I haven't looked into react-flip-toolkit's internals, but it seems that internally I could see it use useEffect (that is called AFTER paint) and useLayoutEffect (that is called BEFORE paint). Should be a good practice project to rewrite in order to get used to hooks.

[2018-11-01 00:15] myleftshoe opened #34 "Minimal list example"
A simple minimal list example would be nice - I thought it would be this, but it does not animate at all. Probably something basic I'm missing.

[code]

[2018-11-01 00:17] aholachek commented on #33
Hi, I don't see any reason why it wouldn't work with hooks, [here's a quick example with `useState`](https://codesandbox.io/s/nkq2m82mk4)

As for refactoring, I'll definitely play around with rewriting it, but I probably won't release the version for quite some time since I wouldn't want to block people using older version of React from using the library, and I'm not sure I can think of any immedi

[2018-11-01 00:17] #33 closed

[2018-11-01 00:38] aholachek commented on #34
Hi, there are a lot of errors in your code. Some are basic React mistakes, others are mistakes with React-flip-toolkit. [Here's a version of your code that works.](https://codesandbox.io/s/2351y84x0y) Hopefully it makes things a little clearer!
I would suggest practicing for a bit by forking working examples and putting your own spin on them.

[2018-11-01 00:38] #34 closed

[2018-11-01 09:45] myleftshoe commented on #34
Many thanks for taking the time to edit my bad code!!  That helped a lot.

[2018-11-01 10:07] myleftshoe commented on #34
Man that's a nice new Interactive Tutorial!

[2018-11-01 13:51] aholachek commented on #34
Glad it was helpful! I will add a simple "list shuffle"  example to the readme, I think that would be valuable--thank you for the suggestion.

[2018-11-09 16:02] aholachek commented on #20
I'm sorry this took me so long, but I've finally published an update that should allow you to have complete control over the sequencing of the animations. You can provide a new callback `handleEnterUpdateDelete` to the `Flipper` component, which is passed some functions that allows you to handle the timing.
[Here's an example that hopefully makes things clear](https://codesandbox.io/s/4q7qpkn8q0)

[2018-11-09 16:02] aholachek commented on #20
Oh, I forgot to mention that you'll have to upgrade to version 6 to use `handleEnterUpdateDelete`

[2018-11-13 21:24] #20 closed

[2018-11-29 13:39] marjan2k opened #37 "backgroundColor Transform"
Hey,

I guess backgroundColor is not transformed (possibly due to performance issues?).

Is there a trick to do that?

https://codesandbox.io/s/mypv9j96zp

[2018-11-30 03:21] #37 closed

[2018-11-30 03:32] aholachek commented on #37
Hi Marjan, did you figure out a solution? I debated adding this to the library originally but then thought I'd limit animations to things that could be gpu-accelerated (opacity and transforms). It would not be super difficult to add in theory, though I'd need to look into how to tween colors without getting the muddy effect in transition.

[2018-11-30 03:54] marjan2k commented on #37
Yeah, I didn't want to bother much with the background since I don't really need it.
I was playing around to push the limits your library.

I'm writing a medium article. I'll give kudos to you!

[2018-12-12 23:35] hlee-cb opened #38 "Does spring only work in certain scenarios?"
I've gotten this working and it's pretty nifty. Right now I've made an accordion style component and I'm animating scaleY and opacity on the accordion container, using keyframes w/ styled-components. The one thing I can't seem to figure out is the spring prop. I've tried different values for it, and I'm not seeing any difference in effect, even when I slow my animation waaay down. Is there somethi

[2018-12-13 00:58] aholachek commented on #38
Hi, the spring settings should still be working -- [here's a codepen you can use to play with them](https://codepen.io/aholachek/pen/bKmZbV). If using that codepen as an example doesn't help, I wonder if you could post a code snippet?

[2018-12-13 04:42] jfurler opened #39 "Element is tilted slightly after scale animation"
After a scale transition is complete, the flipped element ends up with `transform: matrix(1, 0.0001, -0.0001, 1, 0, 0);`. Presumably, this should be `transform: matrix(1, 0, 0, 1, 0, 0);` (or no transform rule at all). Seems tiny, but it's actually noticeable in certain circumstances.

[2018-12-13 04:52] aholachek commented on #39
Thanks for making an issue, I'm leaving the transform to prevent an unpleasant jittering effect that can happen in Chrome when a transform is fully removed from an element. Do you by any chance have an easily available sample to show the noticeable transform?

Maybe I need to make that configurable.

[2018-12-13 05:31] jfurler commented on #39
Yeah, you can see it on https://codesandbox.io/s/zk62k0powp. You'll have to open the fullscreen view, on a wide monitor (or just zoom out a bit). When the search bar is expanded, you can see a dark line up the top right.

Does including a transform of `transform: matrix(1, 0, 0, 1, 0, 0);` still cause the jittering effect?

[2018-12-13 12:42] aholachek commented on #39
Thanks for the demo.

Unfortunately `transform: matrix(1, 0, 0, 1, 0, 0);` still causes a jitter, otherwise that would be perfect. I will plan on trying to see if a smaller transform still works and prevents the issue that you're seeing. Otherwise I will make the setting configurable to fully remove the transform. I probably can't get to it immediately but I'll comment here when I've released the

[2018-12-14 17:44] hlee-cb commented on #38
@aholachek Yeah, I think I must be doing something wrong, because I still can't get it to work. Here's a code snippet:

`import React from "react";
import { Flipper, Flipped } from "react-flip-toolkit";

import {
  CollapsibleSectionWrapper,
  CollapsibleSectionItem,
  CollapsibleSectionItemTitleWrapper,
  CollapsibleSectionItemTitle,
  CollapsibleSectionItemBodyWrapper,
  CollapsibleSectionItemBo

[2018-12-15 17:43] aholachek commented on #38
I think you are missing the spread operator when you pass in `flippedProps` to your styled component. [You can see an example in the readme here.](https://github.com/aholachek/react-flip-toolkit#wrapping-a-react-component).
So for instance it should be something like `<CollapsibleSectionItemBody {...flippedProps}>` instead of what you have now. Would you mind trying that and letting me know if it

[2018-12-15 21:53] aholachek commented on #39
I just released a patch that reduces the rotateZ transform, I'm not positive but playing with your example I **think** it fixes the problem.

[2018-12-15 21:55] hlee-cb commented on #38
Wow, what a silly mistake. Can't believe I didn't notice that one. Seems to be working now, thanks!

[2018-12-15 21:56] #38 closed

[2018-12-16 22:34] jfurler commented on #39
Nice, that works great! thanks!

[2018-12-16 22:35] #39 closed

[2018-12-20 09:07] Barulin opened #40 "The page scrolls to the top during the flip animation."
Hey there!

I found a problem with animating a large list that doesn't fit on the page.
During the animation the page scrolls to the top and flipped elements appear from the top, not from the bottom. This problem comes only if you run animation via the button that lies below the list. So, if the button is placed on the top of the list, everything works great.
You can see example in the sandbox: ht

[2018-12-20 13:02] aholachek commented on #40
Hi, yikes, this is annoying, but thank you for the detailed bug report!

 I [can reproduce even when I remove the Flipper component entirely](https://codesandbox.io/s/nw3vo8n5qm) so I'm thinking it's something to do with the Flipped component. I will look into this this weekend and get back to you.

[2018-12-25 08:43] Barulin commented on #40
Well, I've been playing with these examples a bit and discovered two things.

In [this](https://codesandbox.io/s/232pny90pn) sandbox with a `getSnapshotBeforeUpdate` trick the animation still doesn't work as expected. Some items instantly jump to their places while the others move smoothly.

In [my initial](https://codesandbox.io/s/88n1nmy7wj) sandox I've finally achieved the expected behaviour. B

[2018-12-28 15:06] morgs32 opened #41 "Cannot debug"
Put `debug` on the `Flipper` component in your [codepen](https://codepen.io/aholachek/pen/mKXBJR) and you will see it breaks because `flip is not a function`...?

[2018-12-28 16:43] aholachek commented on #41
Thank you for catching this! I think I see the problem. I'll comment here when I've released a fix.

[2018-12-28 18:17] aholachek commented on #41
Thanks again, I just released a patch that should fix this.

[2018-12-28 18:17] #41 closed

[2019-01-01 10:32] mpontus opened #42 "index.d.ts gone missing in 6.3.2"
Hi, love this library!

It appears that `index.d.ts` has gone missing during the last release:

https://unpkg.com/react-flip-toolkit@6.3.2/lib/
https://unpkg.com/react-flip-toolkit@6.3.1/lib/

This prevents the module from being loaded in some TypeScript environments:

[code]

Could you please address this issue?

[2019-01-01 14:43] aholachek commented on #42
Yikes, the build step must have failed somehow,. [I just published a patch and it seems like the types file is there now](https://unpkg.com/react-flip-toolkit@6.3.3/es/). Thanks very much for pointing this out!

[2019-01-01 14:45] mpontus commented on #42
@aholachek Thank you so much for this fantastic tool!

[2019-01-01 14:45] #42 closed

[2019-01-03 10:40] esquevin opened #43 "Deformations when animating elements with border radius"
Hi, first thanks for this great library and the excellent documentation and tutorials.

I'm having an issue trying to animate a box with border-radius. When the box change size, a scale transition is done, stretching the border radiuses horribly.
I know that your library allows only to interpolate GPU accelerated properties intentionally, but I keep wondering wether allowing to animate width & hei

[2019-01-03 15:48] aholachek commented on #43
Hey,
You're right that with simple markup you're going to get that warping effect. However, if you're ok doing some more complex markup and CSS, I think you could get closer to the effect you wanted. [I forked your sandbox here](https://codesandbox.io/s/lp940n1v5m) to experiment with separate divs mocking the border radius effect, and I think it might be closer to the effect you intended. However,

[2019-01-03 15:56] esquevin commented on #43
I was currently experimenting with a similar approach https://codesandbox.io/s/mynnkq94z8 but it's not really satisfying either.

I wrote the code in the sandbox to highlight the specific issue of the width animation with border radius, and I could indeed make it work with pure css, but sadly the animation I'm trying to achieve uses a mix of translations and width changes which I cant figure yet h

[2019-01-07 23:50] ianschmitz opened #44 "Move react to devDependencies"
Hey first of all -- great library! I'm coming over from [react-flip-move](https://github.com/joshwcomeau/react-flip-move) and this looks really promising.

I was just taking a look at the dependencies of this library, and noticed that there is react listed as `"react": "^16.7.0"`, as well as a peer dependency `"react": "16.x"`.

`react` should be moved into the `devDependencies` to avoid duplicate

[2019-01-08 01:15] aholachek commented on #44
Oh no, thank you for catching this, React slipped in to `dependencies` recently when I recently refactored to use rollup, I must have carelessly installed it at some point.
[I just made a patch release that will fix this, here's the commit](https://github.com/aholachek/react-flip-toolkit/commit/a12b04afcc8e17e5908f4f4f19c28054755e08b8).

[2019-01-09 17:07] carlosagsmendes opened #45 "Question: How to transition between two different elements"
Hi, I found react-flip-toolkit a few months ago but never used it before.

I remember reading an example of creating transitions between two different elements, but I can't find it.

Can someone provide some guidance on how to create a transition between an item of a drag-and-drop
[task list and the modal that opens on click with the item details](https://codesandbox.io/s/2z7yw2jwly)?

What I'm tr

[2019-01-09 22:12] thomasboyt commented on #6
I'm also curious about this, from the perspective of react-router usage - I'm not sure if the new `handleEnterUpdateDelete` API supports something like this, or if it's still awaiting an implementation.

I've built something fairly similar to the react-router demo's structure, but I'm confused how to run a "fade out" animation before hiding the nested route when you navigate away from it. Currentl

[2019-01-10 04:19] thomasboyt opened #46 "Issue animating inner content in Safari after animation starts"
Hi! Really impressed with this library, it puts my extremely hacky attempts at similar behavior in React to shame :)

I ran into an issue in Safari, unfortunately, and I'm not sure what the best way around it is. Basically, I tried to copy your strategy of using the `onStart()` callback to hide incoming content, which allows me to fade content in (in my case I'm just applying a CSS transition afte

[2019-01-10 04:42] thomasboyt commented on #46
Theory behind the root cause of this, though will concede it's quite late and I've been staring at it for a while, so this may be _totally_ off base:

`onStart()` gets called in the first tick of the internal `onUpdate()` hook, which happens after a `requestAnimationFrame()` call in rehook's `AnimationLoop`. The reason this is an issue in Safari only is that Safari runs RAFs [_after_ the next fram

[2019-01-10 17:38] aholachek commented on #46
Hi,
Thank you for making this detailed report! I see you're working on your own branch, I'm happy to look at anything you come up with.

Right now, the [onStart function is called when the element starts animating](https://github.com/aholachek/react-flip-toolkit/blob/master/src/flip/animateFlippedElements/index.ts#L362) --which means if it has a staggered delay, `onStart` is not called until the e

[2019-01-10 17:53] ZakTax opened #47 "Troubleshooting animations with codesplit routes"
I am experiencing an issue with animations not executing when codesplit routes are loaded for the first time.

I've created an MWE here that illustrates the issue: https://codesandbox.io/s/7k5yorxlz6

Compare how the site loads initially compared to what happens when you flip between routes when both nested child routes have already been loaded.

Is it possible to get react-flip-toolkit working in

[2019-01-10 18:59] aholachek commented on #46
[Here's a fork of your pen with `onStartImmediate`](https://codesandbox.io/s/9y0qyyj56o), I think it fixes the problem. Please let me know if this seems ok to you and I'll make a minor release.

[2019-01-10 19:06] thomasboyt commented on #46
That works, both in the demo and in my actual app! Thank you so much for the fast turnaround. I'll let you know if I find any subtle bugs with it or anything but it seems great :)

[2019-01-10 19:46] aholachek commented on #46
Great, [I just released 6.5.0](https://github.com/aholachek/react-flip-toolkit/releases/tag/v6.5.0)

[2019-01-10 19:46] #46 closed

[2019-01-10 20:00] aholachek commented on #45
Hi Carlos, [this pen might be helpful.](https://codepen.io/aholachek/pen/qKeLaN) I'll think about linking to it from the readme!
[Tweening two elements is also described in the readme here.](https://github.com/aholachek/react-flip-toolkit#2-flipped)
I'm going to close this issue for now, but feel free to re open if you have a more concrete question.

[2019-01-10 20:00] #45 closed

[2019-01-10 20:12] aholachek commented on #47
You'd have to delay triggering the `flipKey` on the `Flipper` component until after the route lazy loaded and had rendered.  I don't know if React.lazy offers an easy way to attach a callback or otherwise be notified when the route loads?

[2019-01-10 20:14] ZakTax commented on #47
🤔 I'm confused because everything that's being animated is within Main.tsx which has already been loaded and starts on the page - it's One and Two that are being loaded on-demand. Am I missing something?

[2019-01-10 21:55] aholachek commented on #47
I think so, I'm not very knowledgable about Suspense but I think in your example when the second route is being loaded there is a flash where only the "loading..." text is visible on the page. I was able to reproduce it more clearly by downloading the sandbox locally, putting a debugger statement in react-flip-toolkit, and watching during route transitions. I saw something that looks like this for

[2019-01-10 22:01] ZakTax commented on #47
Huh, you're right... I guess I misunderstand how suspense works (or perhaps how it's working with found router)

if you put a break on subtree modification on #root you can see the same thing:

interestingly, `Main` is still there but with `display: none` on it and that loading div is further down the tree:
![screen shot 2019-01-10 at 4 59 26 pm](https://user-images.githubusercontent.com/25751924/

[2019-01-10 22:49] ZakTax commented on #47
d'oh, my SuspenseRoute isn't working. I manually added a `Suspense` around where `Main` renders `children` and that fixes the animations not working between routes the first time you load them.

I have one more problem remaining: if you navigate directly to https://7k5yorxlz6.codesandbox.io/2 then the logo at the top isn't set up correctly - it should be a black bar but it's blank. I think I'm doi

[2019-01-11 00:42] ianschmitz opened #48 "Tips for building a carousel"
Hey there,

I'm hoping you could offer some guidance with building a carousel like component using react-flip-toolkit. For reference, here is a POC to try to show what i'm trying to build: https://codesandbox.io/s/qlqwkp9524. If you feel this isn't the right forum for this question, please let me know!

I've been trying to control the animation of elements as they enter/exit the list. You can thin

[2019-01-11 02:01] aholachek commented on #48
Thank you for making this issue, I have to think about it a little bit. My original reaction was that it made perfect sense that you need to use anime for entering and exiting animations, since those are not FLIP and thus not the responsibility of the library, which just gives you the hooks to set those animations up yourself.
But maybe there is a smarter way that the library could offer pseudo-FL

[2019-01-12 15:14] aholachek commented on #47
I'm not sure, it's not blank, it's just a bit above the screen due to the `transform: translateY(-100%)` on the parent.

I'm going to close this issue since I don't think it's related to a bug in react-flip-toolkit.

[2019-01-12 15:14] #47 closed

[2019-01-12 15:16] ZakTax commented on #47
Isn't the inverse flip id supposed to be nullifying that?

[2019-01-12 15:51] aholachek commented on #47
No, the `inverseFlipId` just cancels out transforms during animations to prevent warping.

[2019-01-13 23:50] aholachek commented on #45
Hi, [I made a working version of your sandbox here](https://codesandbox.io/s/k2747z2z13). I had to use the `portalKey` prop as described in the docs, and use a regular React portal instead of `react-modal`, which for some reason takes multiple frames to render and as such breaks `react-flip-toolkit`.

[2019-01-15 18:44] ianschmitz opened #50 "onComplete not called for Flipped with inverseFlipId"
I have a quick demo here showing the issue: https://codepen.io/anon/pen/aPMJaG.

I would think there should be two console logs when clicking on a color, one for the outer `Flipped`, and one for the inner` Flipped` with `inverseFlipId`.

[2019-01-15 18:45] ianschmitz opened #51 "Blurry text after FLIP"
After a FLIP is complete, the transformation styles are left on the animated element. This often causes blurry text due to the `transform: translate()` and `transform: scale()` being left on the element.

An approach to fix this would be to remove the styles after the animation is complete. I'm currently trying to manually accomplish using the `onComplete` call back and clearing out the inline sty

[2019-01-15 19:14] aholachek commented on #51
Thanks for making this issue. As an explanation for what probably looks like weird behavior, I left the transform on the element on purpose to prevent an annoying, noticeable "pixel snapping" jump in Chrome (not in firefox or safari) when scale transforms are fully removed from an element.

I have not been able to replicate a blur from this, are you seeing it in the [codepen you posted for the oth

[2019-01-15 19:47] ianschmitz commented on #51
Here's a tweak to one of your demos that illustrates the issue: https://codepen.io/anon/pen/MZxoxw.

If you shuffle the list, then use dev tools to disable the inline `transform` style, you can see the text sharpen up.

[2019-01-16 14:29] jasonswan37 opened #52 "IE11 - loadComponents Syntax Error: Syntax Error"
Running React 16 with Webpack and Babel. Rendered server side.

Latest version of react-flip-toolkit, `window.Promise` is polyfilled by `babel-polyfill`.

This works as expected in Chrome, Edge, Firefox and Safari but not IE11. On Component load the `loadComponents Syntax Error` occurs as follows:
<img width="1020" alt="screenshot 2019-01-16 at 14 21 54" src="https://user-images.githubusercontent.

[2019-01-16 15:40] aholachek commented on #52
Hi, thank you you for making this issue.
Would you mind [looking at this react-flip-toolkit example in IE](https://react-flip-toolkit-demos.surge.sh/staggered-list) and letting me know if it's working for you? I wonder if it's something to do with localhost because when I test on lambdatest on IE11, I can view the built examples without errors.
I'm working on getting an open source membership to b

[2019-01-16 16:05] jasonswan37 commented on #52
Hi, thanks for the fast response.

I can confirm the example works for me (through browserstack) without errors.

`assets/main.js 14377:1` appears to just be the webpack compilation of this module:
<img width="1336" alt="screenshot 2019-01-16 at 16 04 22" src="https://user-images.githubusercontent.com/45355269/51261619-7df63b80-19a8-11e9-840d-a560319e142c.png">

[2019-01-16 16:23] aholachek commented on #52
Ah ok, thanks for checking. The example I sent you is built with parcel, not webpack, so I wonder if that has any effect. I'll hopefully get browserstack access soon, test things out, and report back.

[2019-01-16 16:57] aholachek commented on #52
I just tried running a project in browserstack on IE11 built with `create-react-app` that imported and used `react-flip-toolkit` and could not reproduce any error.

Is there any way you could provide a reproducible test case that I could have a look at?

[2019-01-16 18:11] thomasboyt commented on #52
I'm also getting a syntax error in IE11; there's an uncompiled arrow function in `es/index.js` that looks to be causing it. I'm kind of surprised by this given that [tsconfig.json has a target of `es5`](https://github.com/aholachek/react-flip-toolkit/blob/master/tsconfig.json#L5), but I suspect it's possible that Rollup ignores this?

FWIW, I'm using Webpack/Babel via the [Webpacker](https://githu

[2019-01-16 18:12] rodrigopr commented on #51
I also had to remove the transform style on `onComplete`, but for another reason.
`transform` creating a new local coordinate system was interfering with a child component (dropdown).
`retainTransform={false}` would also work for us.

[2019-01-16 22:00] aholachek commented on #52
@thomasboyt thanks, your comment led me to realize that the forked version of reboundjs is not being sent through the typescript compiler (I was too lazy to convert it to typescript), so when I switched to typescript + rollup it stopped getting compiled.

I also am not familiar with up-to-the-moment best practice but I think it's still best to transpile the library for people, so I added babel jus

[2019-01-16 22:06] aholachek commented on #51
Given that it's causing problems for multiple people, I decided to make a patch release (6.5.3) that just removes the transform for everyone, (it can be added back with `retainTransform={true}`.

Thanks for surfacing this and please let me know if the problem still remains.

[2019-01-17 04:47] eugene1g commented on #52
@aholachek v6.5.3 fixed IE11-compat for me, thanks!

[2019-01-17 13:19] jasonswan37 commented on #52
@aholachek That does fix the initial issue with the page not loading, however this does lead to another error with react-hot-loader being unable to update when I trigger a property update for the components inside the `Flipper`

<img width="1148" alt="screenshot 2019-01-17 at 13 17 47" src="https://user-images.githubusercontent.com/45355269/51321380-7d1de200-1a5a-11e9-8caa-d6e7c57bc82a.png">

Offe

[2019-01-17 14:46] #52 closed

[2019-01-18 19:45] ianschmitz commented on #51
Hey @aholachek i'm still seeing the `transform` left on the element on 6.5.3. See https://codepen.io/anon/pen/OreqgR

[2019-01-18 20:06] aholachek commented on #51
When I go to that link, I only see the identity transform (`matrix(1, 0, 0, 1, 0, 0)`) on the elements, which as far as I know should have no effect on the rendering. Is that still affecting the rendering for you? If so, I can remove it on the final tick.

[2019-01-19 01:31] aholachek commented on #50
this should be fixed with the latest release

[2019-01-19 01:31] #50 closed

[2019-01-19 02:31] aholachek commented on #51
I'm removing the identity transform as well now so there should be no transform on the element once it's at rest [as you can see here](https://codepen.io/aholachek/pen/NeQWwj). Thanks again for finding this issue.

[2019-01-19 02:31] #51 closed

[2019-01-22 00:55] ianschmitz commented on #51
Hey thanks for digging into this @aholachek.

It seems to be resolved now with `6.5.5`. `transform: matrix(1, 0, 0, 1, 0, 0)` and `transform: scale(1, 1)` seemed to cause rendering issues after the FLIP completed, such as borders of `div` and `input` elements not being rendered correctly, or the occasional blurry text. I notice that there is still `transform: scale(1, 1)` left on the child with `i

[2019-01-24 21:41] doei opened #53 "Counter-scaling timing"
Hi,
This isn't really an issue for this library, but rather me trying to understand how you solved the problem I'm having, I hope it's the right place for it, many thanks if you consider answering :)

I made a pen [here](https://codepen.io/senss/pen/rPaOeM) to show it better.
Basically, counter-scaling child elements doesn't work well for me, because the expansion and counter-expansion don't happe

[2019-01-25 20:05] zapbampow opened #54 "Items not flipping in mapped array"
I'm assuming I have a very similar problem as [this thread](https://github.com/aholachek/react-flip-toolkit/issues/24). But I've been working on it long enough that it's just time to ask for help.

I'm mapping over an array of objects to display a series of cards, then filtering and sorting which cards to display. I believe I've followed the examples and more or less done what you suggested in the

[2019-01-25 20:37] aholachek commented on #53
Feel free to comment if you have any questions or follow ups, I'm going to close this to keep things organized.

[2019-01-25 20:37] #53 closed

[2019-01-25 21:09] aholachek commented on #54
Hi, thanks for posting your test case, it helped me see that you're only 1 tiny tweak away from it working:

`Flipper flipKey={this.state.resources.map(r => r.id).join('')} />`

I think the flipKey prop you are currently using isn't updating correctly.

[Here's a working example ](https://codesandbox.io/s/q3qpqoymow)

[2019-01-25 21:43] zapbampow commented on #54
Fantastic! Thank you for the help and for this cool tool. I knew I was close and after an hour I wasn't going to get it. I seriously appreciate it.

[2019-01-25 21:43] #54 closed

[2019-01-27 15:05] doei commented on #53
ah of course it's recomputed every tick, I missed that part... Thanks for explaining!

[2019-01-29 20:26] marjan2k opened #55 "Flipped Element's Tween causes it to overlap list items"
Hello,

I'm having difficulty where elements in a list, if they get tweened, they overlap each other sometimes.

The video can explain it better when I click the topmost element at the end.

https://imgur.com/a/sy9j9Rc

[2019-01-30 16:13] marjan2k commented on #55
Hi, I confirm I am using 6.5.5.

I found a fix.
For tweening you are adding some styles to the Flipped wrapper's component.  If you provide a prop to add className to the component (add on tween, remove after tween), then I can add zIndex to it.

without zIndex
![image](https://user-images.githubusercontent.com/14934345/51994962-d08f2780-247f-11e9-918b-ee2df7edc5ad.png)

with zIndex
![image](https

[2019-01-30 18:55] marjan2k commented on #55
I did a bit more research.
https://medium.freecodecamp.org/z-axis-html-css-z-index-layout-adventures-2419cefdc2ed

Order of divs are important. A div who comes later in the order, its content will be on top of earlier divs.

In my example, the uppermost item's content gets masked by the 2nd item since the 2nd item's content takes precedence according to div order.

[2019-02-07 15:10] Stanko opened #56 "[Question] Integration with "react-modal" (portals again)"
Hello, thank you again for the beautiful library, I have used it on several projects so far.

On the current project we are using [react-modal](https://github.com/reactjs/react-modal) and it is using portals. I'm interested if toolkit can animate between element in the modal and element on the next page (after router transition).

I've tried using `portalKey`, setting it to "ReactModalPortal" (whi

[2019-02-07 16:27] aholachek commented on #56
Hi, thanks for the kind words! Could you check out [this issue](https://github.com/aholachek/react-flip-toolkit/issues/45)?  The unfortunate answer is that if I remember correctly, `react-modal` takes multiple ticks before it renders, which breaks react-flip-toolkit's expectations. A fix from my end would involve react-flip-toolkit having some sort of timeout period while it waits for the new elem

[2019-02-07 16:32] Stanko commented on #56
Thank you for the fast response! Well, that's a pity. IMHO I think you shouldn't add a timeout option, it just feels like a hack.

Keep up the good work!

[2019-02-07 16:32] #56 closed

[2019-02-07 19:48] afreix opened #57 "shouldFlip not called on entering element"
I have list of items connected to a redux store. That list of items is passed as ```decisionData```. When a new item is added, the component re-renders but shouldFlip is not called for the new element. Instead shouldFlip is called on the subsequent render which is triggered by another prop change. I'm not sure if this is a race condition, but here is a slimmed down example.

[code]

[2019-02-08 22:55] afreix opened #58 "onAppear not called even though hideEnteringElements is called"
First off, thanks for this great library! It's really powerful.

When trying to debug an issue I set breakpoints in flip/animateUnflippedElements/index.ts and noticed a scenario in which ```enteringElements``` was inconsistent between the call to ```hideEnteringElements``` and ```animateEnteringElements```. The end result was that my appearing element was invisible, since it had it opacity set to

[2019-02-10 21:28] necinc opened #59 "[Question] Unclear operator usage"
Hi! And first of all, thank you for the amazing job you did!
I was reading the sources to find out how to control FLIP animation duration and came across the interesting syntax the purpose of which I can't understand. So that `!` operator at the end of the line looks unclear for me.

Here is that line of code
https://github.com/aholachek/react-flip-toolkit/blob/207e407ac2d44b7ffd966823c5fad2eddcad

[2019-02-11 00:28] aholachek commented on #59
Hi,
To control the duration, you have to edit the spring parameters. [You can experiment with them here](https://codepen.io/aholachek/full/bKmZbV/).

That syntax just provides a reference to the body element in the document. The exclamation point tells typescript that it's non-null (I'm still learning Typescript so it's possible I did something wrong there).

[2019-02-11 00:29] aholachek commented on #59
[Here's a relevant stack overflow question](https://stackoverflow.com/questions/42273853/in-typescript-what-is-the-exclamation-mark-bang-operator-when-dereferenci)

[2019-02-11 00:29] #59 closed

[2019-02-11 00:35] aholachek commented on #58
Thank you for making this issue! At first thought I have no idea why this might be happening, you're right that I intended for it to be impossible so I will have to investigate more closely. I probably won't be able to get to investigating the issue until next weekend, but I'll definitely update the docs right now to add mention of onAppear and opacity.

[2019-02-11 06:44] necinc commented on #59
Oh, okay, I see now. Thank you for your response!

[2019-02-11 16:32] afreix commented on #58
For more context, the flow in our application when the issue occurs is along the lines of this:
- We are at a URL /item/{id}
- Button clicked
- Redux action fired to delete element within folder (we are deleting the item at the current URL)
- Redirect to home page URL
- Home page URL has logic and React Router <Redirect /> component that redirects to the appropriate URL (a new item, so /item/{id2}

[2019-02-11 17:57] afreix commented on #52
@jasonswan37 I'm noticing the same exact issue on IE 11 and Edge. I've polyfilled window.Promise, and am using webpack 4.28.4. Any ideas?

[2019-02-11 20:08] afreix commented on #58
I've filed a potentially related issue within the React project: https://github.com/facebook/react/issues/14825

[2019-02-12 11:11] jasonswan37 commented on #52
i updated to the latest version of the library (^6.5.3) and this worked fine for my use case, IE11 No more errors, animations working fine - however it still doesn't work with `react-hotloader` in IE11 only. Therefore it needed testing in another environment. Other than that all is as expected.

[2019-02-14 20:46] yomeshgupta opened #60 "Need Help - List Example"
Hi Alex,

Great work on `react-flip-toolkit`. Pretty neat library!

I came across your library and thought of trying it out. I forked your expandable list example and created this https://codesandbox.io/s/w26p07w108

However, I am not able to make it work somehow.
1. On left side content, first css is applied then animation takes place. I keep `debug: true` then I can see content is aligned to cen

[2019-02-16 13:44] aholachek commented on #60
Hi,

If you don't want the text in the description to warp, even though the container has changed size, you can 1) stop animating scale and only animation translates by adding the `translate` prop, or 2) add another `Flipped inverseFlipId={description}`  wrapping the text and preventing it from scaling with the parent container.

Right now you have css to align the text to the center for one of th

[2019-02-16 13:44] #60 closed

[2019-02-16 17:58] yomeshgupta commented on #60
Hi,

Thank you for the response! I will try out your suggestions. And yes, there is no issue with the library. I want able to find your email or DM on twitter that is why raised an issue here. Anyway, library is great. Job well done. Cheers!

[2019-02-18 18:10] aholachek commented on #55
Ah got it. Yes, react-flip-toolkit doesn't do anything special with z-index, it just provides you callback functions to update z index properties on flipped items so that you can customize it as appropriate to your particular animation.

[2019-02-18 18:10] #55 closed

[2019-02-18 18:10] #43 closed

[2019-02-18 18:16] aholachek commented on #58
Is there any way you could create a test case on Codesandbox for this?

[2019-02-18 19:20] afreix commented on #58
I can try do to do that later today

[2019-02-20 00:12] afreix commented on #58
I haven't been able to reproduce in an isolated environment, but I've been debugging locally. Looks like it has to do with a JS scoping issue. Changing this line https://github.com/aholachek/react-flip-toolkit/blob/master/src/flip/index.ts#L136 to be synchronous instead of asynchronous fixes the issue, although it results in an undesirable animation.

What is really odd is that after changing to `

[2019-02-20 14:33] afreix commented on #58
Wow I feel very silly. It was right in my face the whole time that I was debugging. The problem occurs because we catch the error but never resolve the promise here: https://github.com/aholachek/react-flip-toolkit/blob/master/src/flip/animateUnflippedElements/index.ts#L87

[2019-02-21 03:33] #58 closed

[2019-02-21 07:02] jusoininen opened #62 "Im getting this error on build (Support for the experimental syntax 'classProperties' isn't currently enabled)"
Im getting this error on build

Support for the experimental syntax 'classProperties' isn't currently enabled (9:9):

[2019-02-21 13:12] jusoininen commented on #62
Managed to fix this myself, by adding a .babelrc file and inside it:

{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ],

  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]

}

[2019-02-21 13:12] #62 closed

[2019-02-21 15:46] afreix commented on #58
Do you have an estimate on when there will be a new release with this bugfix?

[2019-02-21 16:45] aholachek commented on #58
tonight! I will comment in this thread when it's live.

On Thu, Feb 21, 2019 at 11:00 AM afreix <notifications@github.com> wrote:

[2019-02-22 01:08] aholachek commented on #58
It's live in 6.5.7, please let me know if anything is still causing problems. Thanks again for pursuing this.

[2019-02-22 19:00] afreix commented on #52
@aholachek I ended up figuring out where the issue was coming from, and I wanted to make you aware. The problem occurs in IE 11 and Edge if our [```devtool```](https://webpack.js.org/configuration/devtool/) option in webpack uses any "eval"-prefixed option.

This blog post has a detailed explanation of why this happens: https://medium.com/@CWMma/doing-something-simple-5cdc65c416ba

[2019-02-23 13:44] jusoininen opened #63 "Add router to imagetransition demo?"
Hello,

Could someone help to get started how to add routing to the imagetransition demo? How to do it? Many thanks in advance for your help

[2019-02-27 14:12] Stanko opened #64 "Spring options codepen is not working with the latest version"
Hello,
It seems that the newest version changed something that breaks spring options codepen https://codepen.io/aholachek/full/bKmZbV/

I just reverted version to 6.0.0 and it works as expected
https://codepen.io/stanko/pen/XGbaew

Cheers!

[2019-02-27 14:55] aholachek commented on #64
Oops, it was looking for `proptypes` which are now required for the non-minified `umd` version to work.
I've fixed it, thank you very much for pointing it out!

[2019-02-27 14:55] #64 closed

[2019-03-25 10:58] arichter83 opened #65 "Prevent element being followed by scrolling in Chrome"
I have a list of elements longer than the viewport. When the user interacts with an element below the fold and this one is reordered above the fold, the viewport is scrolled upwards to follow the element. How can I prevent this?

I tried the following in the event, but `document.activeElement` is only `body` :

[code]

Any ideas?

[2019-03-25 20:02] Fxlr8 opened #66 "Add warning if two elements with the same flip id are detected"
Hi, how about adding this small but useful thing?

I am currently trying to make a transition between two react-router routes with react-transition-group and react-flip-toolkit. `react-transition-group` delays the route unmount and `react-flip-toolkit` does all the animation. Basically, all I want to achieve is to make a card in one route to expand to a whole page on another route. I pass `transit

[2019-04-09 20:30] mattrothenberg opened #67 "decisionData field in core"
Hello!

First and foremost, thank you for publishing and supporting this library. I'm really enjoying working with it, thanks to the stellar code + great documentation.

In fact, I'm working on a Vue.js port of this library, in service of my own, _much much_  shittier animation library, [`vue-overdrive`](https://github.com/mattrothenberg/vue-overdrive).

So far, the Core API has worked like a char

[2019-04-10 13:48] #67 closed

[2019-04-10 21:51] mattrothenberg opened #69 "Feedback on Vue.js Port"
Hello again, sorry to flood your library with questions/comments 🙈

I just finished a small Vue.js port of your library, thanks to the Core API described [here](https://github.com/aholachek/react-flip-toolkit#usage-with-vanilla-js-or-other-frameworks-like-vuejs).

https://github.com/mattrothenberg/vue-flip-toolkit

I'm not sure how much Vue.js work you've done, but I was hoping to get your feedbac

[2019-04-10 23:07] aholachek commented on #69
This is cool! I've never used Vue in any serious capacity but  I was hoping someone would make a Vue port.

Have you seen [this routing example](https://github.com/aholachek/react-flip-toolkit-router-example)?  You could try to port it to Vue router to see if there are any issues. In general, integration with the react-router was pretty straightforward.

I will think about #2 and get back to you l

[2019-04-11 01:26] aholachek commented on #69
Having reviewed things, I don't think there should be anything difficult to port to view as long as Vue has an equivalent lifecycle function to `getSnapshotBeforeUpdate` and `componentDidUpdate`. If so, it would probably be largely just a process of translating [the Flipper component](https://github.com/aholachek/react-flip-toolkit/blob/master/src/Flipper/index.tsx) into Vue.

Not sure if Vue has

[2019-04-11 01:35] mattrothenberg commented on #69
Excellent, that makes sense.

I feel like the Flipper component I hacked together is definitely *close*,
insofar as I was able to replicate most of the examples in your readme. No
doubt there are some performance issues/edge cases that are unaccounted for.

Thanks again for your help

On Wed, Apr 10, 2019 at 9:26 PM Alex Holachek <notifications@github.com>
wrote:

--
Matt Rothenberg
http://mattrot

[2019-04-11 15:15] aholachek commented on #69
Ah yes I looked at your code only after my comment and I see you already had a handle on the lifecycle events. From the demos in storybook, it seems like they are direct analogs to the React lifecycle events-- I was worried they might not hit at the same times in the render cycle and possibly cause flickers or have other performance differences.  (I'm going to follow the development of your librar

[2019-04-11 15:19] mattrothenberg commented on #69
Excellent suggestion, I'll definitely get that added.

If there's anything I can elucidate on the Vue side, just holler. Can't say I'm a total Vue expert, but I've built quite a few things with it. Happy to chat asynchronously or via a screen-share if that would be helpful.

✌️

[2019-04-11 16:22] hanford opened #70 "FLIP animations with overflow: hidden; containers"
First of all thanks for this library. I've written some of my own react FLIP components and this handles things _so_ much better.

I'm using this in a project, and when people see what I've made they say "WOW!" .. this project makes complicated transitions very easy and I'm super thankful for that.

I've been working on a UI with a sidebar with `overflow: hidden` and then main content. The problem

[2019-04-13 16:25] aholachek commented on #70
Hi, this is a cool demo and a clever workaround for the `overflow:hidden` issue.

Honestly I would try to figure out if I could remove `overflow:hidden` from the sidebar as a first option, and if not, if I could absolutely position an `overflow:visible` div containing all sidebar cards over the sidebar itself, since as you've found, trying to put `position:fixed` on and off the element opens you u

[2019-04-13 23:59] #69 closed

[2019-05-03 19:47] ddfridley commented on #30
Hi, thanks for contributing this.  I want to add a vote for an onComplete callback prop to the Flipper.  I need it because I have other animations that need to happen after this one is complete.  (After all the items in my list settle into place, the panel will smooth scroll to the bottom and show the done button).  It doesn't help to use the onComplete in Flipped because it's hard to know which o

[2019-05-08 01:46] regulyarniy opened #73 "Animations not working inside iframe"
Animations not working inside iframe
I prepared sandbox example: https://codesandbox.io/embed/vy2x76vz43

[2019-05-08 03:18] regulyarniy commented on #73
I made the PR for fixing this - https://github.com/aholachek/react-flip-toolkit/pull/74
The issue was in https://github.com/aholachek/react-flip-toolkit/blob/master/src/flip/animateFlippedElements/index.ts
It checks document.body contains the animated element and stops animation. But iframe descendants not present in root document body

[2019-05-18 05:57] atomiks opened #75 "Synchronize spring animation with another transition"
I'm trying to animate the dimensions of a "popper" (Popper.js) which is an absolutely positioned element positioned near a reference/trigger element. I'm using the `core` part of this library.

The markup is like:

[code]

`tooltip` is flipped, and `content` is invertFlipped.

I've been able to FLIP the tooltip's dimensions, but I need to synchronize the spring animation with the popper translatio

[2019-05-18 14:46] aholachek commented on #75
Thanks for making this issue! (Unrelated but I've really enjoyed using tippy.js in my projects).

I've been thinking about adding an additional callback &mdash; `onUpdate` &mdash; that is provided the current spring value for the `Flipped` component. Using this, you could "seek" the `popper`'s transition to a particular point, although I personally don't know of any way to do that with CSS -- I th

[2019-05-18 16:24] atomiks commented on #75
Thanks! 😄

---

Maybe I need to use another spring animation library that controls the `translate` values using a raF loop with identical spring settings to your library?

[code]

Would need to happen directly after Popper.js applies the new `translate3d()` value to the popper (can be overridden before the change is flushed to the DOM on next paint I think).

I'll give it a try...

[2019-05-18 17:06] atomiks commented on #75
Okay so that idea worked (mostly) 🎉

The springs aren't identical for some reason, but I adjusted it to get close, and the non-perfect match makes it look more natural/organic anyway imo.

react-flip-toolkit: `spring: 'veryGentle'`
animejs: `easing: 'spring(0.9, 125, 13, 0)'`

See here: https://gyazo.com/e85cfdbaba3af190936ce217c98c8e0b

Only one problem I encountered, sometimes (10% of the time)

[2019-05-18 21:08] atomiks commented on #75
Yes!! 6.6.0 is perfect. Thank you.

This works perfectly:

[code]

[2019-05-18 21:10] #75 closed

[2019-05-18 21:21] aholachek commented on #30
Hi @ddfridley, I've just added `onComplete` to the `Flipper` prop. Hopefully that works for your use case, if not, please let me know!

[2019-05-18 21:21] #30 closed

[2019-05-21 13:42] petrosalema commented on #73
I believe this change (https://github.com/aholachek/react-flip-toolkit/commit/789a788f00e860949218adbb95df77505c7d6238#diff-73407056bd6b4be9fce8136a34559451) introduced an error by assuming that the `flippedIds` list will never be empty.

[2019-05-21 14:04] aholachek commented on #73
Ah thanks @petrosalema I will release a bugfix tonight, I'll comment here when it's live

[2019-05-21 17:42] owattenmaker opened #76 "Cannot read property ownerDocument of null (replacing all elements inside of Flipped)"
Hello,

The library here seems amazing, unfortunately I've been unable to get it to work when requesting all new elements inside of the Flipper component. It seems to be that there's a brief interlude where there are no flipped id's that flip is aware of, yet it still tries to run the `animateFlippedElements` function. Searching for it has shown me that there was a recent code change wherein it wa

[2019-05-22 00:31] petrosalema commented on #76
This is a recent regression. @aholachek, is [working on a fix](ttps://github.com/aholachek/react-flip-toolkit/issues/73#issuecomment-494405702).

[2019-05-22 02:33] aholachek commented on #76
Hi @owattenmaker, thank you for making this issue and sorry about the bug. @petrosalema found the source of this issue earlier today and I've just made a bugfix release, `6.6.2`, that should fix it.

I've updated your [test case](https://codesandbox.io/s/reactfliptoolkit-list-shuffle-example-flz13) to use 6.6.2 and it does seem to fix the problem.

[2019-05-22 06:48] petrosalema commented on #76
The issue appears fixed. Thank you, @aholachek.

[2019-05-22 08:36] yang opened #77 "Understanding why not-yet-entered div causes an exiting div to "jump""
Thank you first this wonderful library!

I have an extremely basic example here:

https://codesandbox.io/s/serene-hofstadter-rhl0g

Clicking will exit the Page1 div and enter the Page2 div (there actually are no elements with the same flipId).  The only difference between them is Page2 has a marginTop:100.

Currently Page1 first "jumps" down by 100px.  If you break at the top of onExit, it appears

[2019-05-22 11:53] aholachek commented on #77
Thank you for this issue and providing illustrative test cases.
I think the "jump" in the first example is how I would think things would behave. `FLIP` is only available as a technique when one element is being morphed into another, not when an element is entering or leaving.

In the past, I've done e.g. page transitions where a page animates out and then a new page animates in, and I've always n

[2019-05-22 16:58] yang commented on #77
OK, got it.

It would be a huge benefit to be able to exit elements from wherever they were positioned according to the normal layout (rather than only absolutely positioned elements), and it *seems* like react-flip-toolkit is in a good position to help with this, given that's the value prop of FLIP!  The workarounds I can see are complex or require wrapping Flipper/Flipped so that I too can track

[2019-05-22 17:28] yang commented on #77
Another thing I don't understand is that in the code, it does appear as if FLIP *does* try to position exiting elements correctly, according to their measured state before the update—in animateUnflippedElements/index.js:

[code]

[2019-05-22 18:58] aholachek commented on #77
Hmm, so right now I am applying [an opacity of 0 to incoming elements(https://github.com/aholachek/react-flip-toolkit/blob/master/src/flip/animateUnflippedElements/index.ts#L26) , which is what is causing the jump you illustrated in your example. But, I could add an option to make them `display:none` instead, which would not cause the jump, and only switch to `display:visible` once exiting had com

[2019-05-22 19:01] yang commented on #77
I thought about that too, but that would prevent being able to perform simultaneous/overlapping enter and exit transitions (important for our use case)....

[2019-05-22 19:13] yang commented on #77
Also, just to braindump my understanding:

animateFlippedElements uses just the client rect (`.rect`).  All it needs to do is offset the element by the delta between the final and initial client rects.

animateUnflippedElements uses the difference between the child and parent bounding client rects (`.domDataForExitAnimations.childPosition`).  This is because we reinsert the child back into the par

[2019-05-22 21:01] yang commented on #77
Here's what I'm thinking now:

To animate exiting elements no matter where they are in the DOM tree, even if their parents are removed, we'd need to reinsert them onto document.body (rather than said parents).  In order to preserve exactly how it looked in its original place in the DOM tree, we'd need to deep-clone all the computed styles.  This is a small code change but heavy handed in performan

[2019-05-22 22:29] owattenmaker commented on #76
Thanks for the quick turnaround! Feel free to mark the issue as closed

[2019-05-23 00:02] #76 closed

[2019-05-23 20:02] aholachek commented on #77
This is cool, thank you for looking into it.

I have an undocumented helper component called `ExitContainer` that fixes the issue you pointed out about parents also being removed from the dom -- the exit container wrapper is treated as the `parent` if it is added. I kept it undocumented since no one has found the issue that you mentioned yet and I didn't want to unnecessarily complicate the API if

[2019-05-24 05:51] yang opened #78 "Nested Flipped elements not working when outer Flipped is exiting/entering"
(I think this is only loosely related to #77 but a different issue.)

This is one of the basic examples, where a square moves from the corner to the center of the screen:

https://codesandbox.io/s/simple-reactfliptoolkit-example-2-divs-become-1-nponn

If I wrap the squares in a Flipped that is entering/exiting, things break—it doesn't seem to correctly translate to the destination, ending up with

[2019-05-24 06:09] yang commented on #78
Thinking about this some more...

If this were fixed, there's possibly still an issue—if exit/flip/enter transitions are configured to overlap simultaneously, then we might see two squares at once.  One is part of the exiting DOM tree, and the other is part of the entering/flipping DOM tree.

So you'd need to completely hide the square in the exiting DOM tree, and also ensure that flipping square

[2019-05-25 15:08] aholachek commented on #78
The issue you brought up in the first comment should be fixed in 6.6.3.
Thank you for catching it and creating the test case!

I'm not quite sure I understand what the potential problem is that you're talking about in the second comment, though.

[2019-05-25 17:43] yang commented on #78
Oh that's great!

When the entering/exiting parents are animated, though, the child still does not seem to be transitioning properly, only fading out and in (also fades in at the corner, never making it to the center):

https://codesandbox.io/s/simple-reactfliptoolkit-example-2-divs-become-1-xq2sy

As for the second comment, it's still blocked on the transitions, but basically if in this example y

[2019-05-29 17:18] diondiondion opened #79 "Compensate for changing viewport/scroll position across flipKey changes"
First off, thanks so much for creating this library! It makes creating nice looking transitions between pages amazingly simple, and looks good out of the box. Hats off :)

There's one issue that I wonder whether it could be solved at library level: Taking into account changed scroll positions between transition states.

## Problem description

My use case is very similar to the [guitar](https://re

[2019-05-30 21:42] aholachek commented on #79
Hi, thank you for the detailed description of the problem. I'm surprised it's not working correctly as react flip toolkit uses `getBoundingClientRect` which uses the viewport for measurements-- I would have thought that would take care of scroll position automatically.

I tried to replicate in [this example](https://codesandbox.io/s/simple-reactfliptoolkit-example-2-divs-become-1-v3kqq) which auto

[2019-05-31 09:20] diondiondion commented on #79
Hi, thanks for the response. You're right... I should've just made my own reproduction sandbox before drawing up diagrams. 😅

I have a busy weekend ahead of me, but I'll create a reproduction as soon as I get around to it. Maybe it's related to how gatsby (and reach-router) handle scroll position on location changes.

[2019-06-10 10:45] d-asensio opened #80 "styled-components example"
Hi @aholachek

I made a styled-components demo on codesandbox, feel free to use it! 😄

(I could submit a PR, but maybe you want to fork it and keep the example into your own account)

Great package BTW!

Greetings

[2019-06-10 13:18] diondiondion commented on #79
Here's a quick reproduction of the issue using gatsby-starter template as a base (I've added the gatsby layout plugin to keep the `Flipper` mounted between pages): https://codesandbox.io/s/react-flip-toolkit-issue-reproduction-with-gatsby-starter-w70xg

You'll see the issue if you scroll down to the bottom of the page and click the "Go to page 2" link.

If you need an even simpler recreation of th

[2019-06-15 11:31] mayorandrew opened #81 "Nesting Flippers"
I've got an interesting use case for this library, where I nest two flippers in order to have multiple independent `flipKey`s instead of just one global.

I have a `Message` component which can be opened or closed. It contains a `Flipper` and a `Flipped`.
Inside a `Message` there are multiple `MessageItem` components, each of which can also be opened or closed. Therefore I put a second `Flipper` a

[2019-06-16 04:12] aholachek commented on #81
Hi, thanks for pinpointing this problem. The code you found,"filterFlipDescendants",  is some (probably overly complex) code for enabling nested staggers, and it causes the problem by not selecting direct children correctly.

I have a beta release that should fix it, testing it on your example (which i will add to the repo as well): it seems to fix the problem: https://codesandbox.io/s/react-flip-

[2019-06-16 09:46] mayorandrew commented on #81
Wow, that is azaming!
I've looked at the new version and it does indeed work great.
And old demos seem to not be broken, which is a good sign.
Thank you very much for fixing that quickly 🛠

[2019-06-16 09:46] #81 closed

[2019-06-24 16:33] timothy-bailey-redbox opened #83 "staggerConfig.speed is disregarded"
If I pass in any value to the staggerConfig.default.speed then the stagger speed will always be set to `2`.

The issue is in `src/flip/animateFlippedElements/spring/index.ts` line 58. I suspect the min and max functions need to be reversed so as to clamp the value between `1` and `2`, rather than fixing it to `2`.

[2019-06-24 17:13] aholachek commented on #83
yikes, thanks for catching, I'll deploy a patch release tonight and comment here when it's out

[2019-06-24 23:42] aholachek commented on #83
This should be fixed in 6.6.5

[2019-06-25 08:07] timothy-bailey-redbox commented on #83
Awesome, thanks for that. I've just tried it out and the setting is now working.

[2019-06-25 08:07] #83 closed

[2019-06-26 14:58] grumd commented on #79
This is actually reproducible without routing or gatsby too.
You can create a list of items, every item with this Flipped:
[code]
Add a button at the bottom of the page, this button will add 10 more items at the top of the array.
New items will be added, but the scroll will not adjust for it, and the button you just pressed will fly out of the viewport. I'll add a sandbox if needed tomorrow.

[2019-06-26 16:13] aholachek commented on #79
Hi @grumd, a reproducible test case would be definitely be helpful

[2019-06-27 16:25] grumd commented on #79
@aholachek While trying to make a codesandbox, I realized it was actually a bug in my own code (obscure scrollIntoView usage), so I'm taking my words back.

Awesome lib btw.

[2019-06-27 17:08] aholachek commented on #79
Hi @diondiondion, sorry for the delay, I've finally had a chance to take a look at the issue.
[Here is fork of your example that works](https://codesandbox.io/s/react-flip-toolkit-issue-reproduction-with-gatsby-starter-1ik3g).

It turns out that the issue has nothing to do with scroll, rather, for the first tick after the new render, the image dimensions are width: 0, height: 0. I guess the browse

[2019-07-07 18:12] kimfucious opened #84 "Smoother Exit When List is Emptied"
I ❤️ React Flip Toolkit.  Awesome work!

Is it me, or is the animation a tad jarring when the array backing the `flipkey` is emptied?

What I mean is that when some, but not all of the elements are removed, the animation is lovely, re-arranging the `<li>` elements in a very pleasing fashion.

However, then all of the elements are removed, the entire `<ul>` element is emptied of all `<li>s` in an i

[2019-07-07 22:36] aholachek commented on #84
Hi @kimfucious, any way you could make a code sandbox to reproduce this problem? Specifically the "animation being a bit late for the show"? I assume you're using the [onExit](https://github.com/aholachek/react-flip-toolkit#callback-props) callback and it's not working correctly?

[2019-07-08 05:00] atomiks opened #85 "[Core] Rename onUpdate() to update()"
I notice you're nearing the 7.0 release potentially and just thought I'd add this suggestion here. 😄

`onUpdate()` to me seems more like a callback func I'd pass to the config object rather than a method I'd call on the instance, so I feel `update()` is more fitting. What do you think?

[2019-07-08 05:05] atomiks opened #86 "Problem loading sourcemap in 6.6.8"
When importing `Core` like this:

[code]

Sourcemaps can't be loaded as they point to `react-flip-toolkit.js` rather than `index.js`

[code]

[2019-07-08 10:29] kimfucious commented on #84
Aloha @aholachek

Thanks for the quick response.

Here's a [sandbox](https://codesandbox.io/s/github/kimfucious/earth-wind-fire) that depicts the behavior that I mentioned.

It's specifically when either "Hide All" is clicked or when the last element has been hidden, where I am seeing that quick exit w/o animation.

Frankly, I didn't read the docs well enough to realize the existence of the `onExi

[2019-07-08 11:03] aholachek commented on #86
Oh yikes, thanks for letting me know. I'm moving to a monorepo for v7 and have split `flip-toolkit` out into [its own package](https://www.npmjs.com/package/flip-toolkit) and the [sourcemaps seem ok there.](https://unpkg.com/flip-toolkit@6.6.8/dist/index.js)
But it I will fix the broken sourcemaps for core by tonight.

[2019-07-08 11:17] aholachek commented on #85
Yes, that makes sense. I think I called it that because of how I use the equivalent method in React, in `componentDidUpdate`. I'll update it (heh) now.

[2019-07-08 15:41] agriffis commented on #84
@kimfucious I was wrestling with the same thing late last week. react-flip-toolkit animates rearrangements smoothly, but enter and exit are left to the `onAppear` and `onExit` hooks. It took me a while to realize that r-f-t doesn't provide any assistance with the animations, but the hooks are well-designed and it's not hard to use something like `animejs`

Here is a codesandbox: https://codesandbo

[2019-07-08 17:59] aholachek commented on #84
Hi @agriffis, [this related issue](https://github.com/aholachek/react-flip-toolkit/issues/75) might be useful for you, basically you could use `onSpringUpdate` and handle the tweening yourself.

Otherwise (and this probably isn't clear enough in the docs) you would have to adjust the `stiffness` and `damping` parameters on the `spring` argument, as `speed` is only relevant for the `stagger` config

[2019-07-09 08:48] kimfucious commented on #84
Thanks @agriffis

Your sandbox showed me how to implement the onExit callback.

The problem is that I hilariously don't know what I'm doing.

As the project I'm working on already uses Animate.css and bootstrap, which uses jQuery by default, I thought I'd try something _easy_ like:

[code]
This does run the `onExit` callback, but the behavior is not as expected.  For example, multiple elements are

[2019-07-09 11:27] aholachek commented on #86
This should be fixed in v6.6.9, thanks again for catching it.

[2019-07-09 13:28] agriffis commented on #84
@aholachek Thanks, that's helpful.

Regarding `onSpringUpdate` I think there's a gotcha when transition to or from zero elements, right? In that case there are no elements being flipped, so there's no spring...

[2019-07-09 17:12] aholachek commented on #84
@agriffis very good point. For v7, which should hopefully be ready in a couple of weeks, I am working on adding a modified version of [this pr](https://github.com/aholachek/react-flip-toolkit/pull/82) so that you'll be able to create springs with the same settings as your flip animations for enter/exit animations.

[2019-07-09 23:05] atomiks commented on #86
Yup all good

[2019-07-09 23:05] #86 closed

[2019-07-10 11:49] agriffis commented on #84
@kimfucious I haven't looked at your sandbox, but a couple things for you...

First, you don't need to look up the element by id, because you already have the element. Second, you need to call `removeElement` when it has finished fading out. This should be timed according to how long your `animated fadeOut` takes.

For example:

[code]

Hope that gets you pointed in the right direction!

[2019-07-10 20:36] kimfucious commented on #84
Thanks mucho @agriffis for the assist.

Unfortunately, I'm getting the same behavior with your suggested onExit as I was with my initial attempt.

[This one](https://codesandbox.io/s/this-one-works-0n3e3) works and [this one](https://codesandbox.io/s/github/kimfucious/earth-wind-fire) doesn't.

It could very well be something I'm doing stupid somewhere else that I haven't picked up on yet.

[2019-07-10 21:09] agriffis commented on #84
@kimfucious Try this https://codesandbox.io/s/earth-wind-fire-wmil1

Mainly note how it calls removeElement from setTimeout after the fade out

[2019-07-13 09:47] kimfucious commented on #84
@agriffis you are a ⭐️ !

Taking a look at your excellent handy work, I've noted some refactoring of the example.

If I simply replace the `onExit` function with yours, I still have the same issue as before, which leads me to believe that the issue lies elsewhere in my implementation.

I'll take a closer look at your refactored example to hopefully learned what I'd messed up.

Thanks much for taki

[2019-07-13 09:47] #84 closed

[2019-07-13 22:29] apswak opened #87 "List Transition demo is broken"
First of all thanks for all your efforts - great module!

I've been working through the examples/tutorials and got to the [List Transition](https://alex.holachek.com/rft-tutorial/#0) one which seems to be broken on any environment other than codesandbox. I've even copied over file by file incase I'd made any errors along the way but the animations are still broken. Also tried everything in the tro

[2019-07-13 22:44] aholachek commented on #87
Hi, while I'm not sure what's going wrong with the transferred code, you can download a zip file containing the project directly from codesandbox using this button:
<img width="483" alt="Screen Shot 2019-07-13 at 6 40 24 PM" src="https://user-images.githubusercontent.com/3680488/61177233-c11f1900-a59d-11e9-84f8-0a2654fd752f.png">

[There's also a similar example up on codepen where all the code is

[2019-07-14 00:20] apswak commented on #87
Thanks for the prompt response @aholachek. For anyone else having the same issue; the demo uses `react-flip-toolkit` `v5.x.x` whereas a fresh install atm sets it at `v6.6.9`. I've followed it up and noticed the breaking change happens between `v6.6.5` and `v6.6.6`. No idea what the fix is so I'll have to stay on this version for now. Thanks again

[2019-07-14 13:10] aholachek commented on #87
If I update the codesandbox and set react flip toolkit version to `latest` (6.6.9), it still works: [example](https://codesandbox.io/s/wnnxl223n8f) so I'm not sure the version bump was the issue. However, 6.6.6 was when I moved over to a new bundling strategy so that does seem suspicious. If you find out any additional information about this please let me know.

[2019-07-18 19:51] petar-s-dimov opened #88 "Skips to final frame initially then does a bounce effect"
Hi!

Thanks for sharing this its terrific! I've been working on implementing a simple animation on some element translations and have run into a weird issue I was hoping you could shed some light on.

I am trying to implement something like the following:
https://codesandbox.io/s/ancient-worker-58b6q?fontsize=14

The logic in the sandbox is a little weird but I tried to mimic what is going on in m

[2019-07-19 21:10] petar-s-dimov commented on #88
I figured out what caused this, but am not sure of the underlying mechanics.

https://codesandbox.io/s/ancient-worker-58b6q?fontsize=14

Adding transition-property to your css will cause the bounce to happen on special circumstances (some combination of properties causes it, others don't).

Don't hesitate to let me know if I am doing something wrong so I can fix my approach!

[2019-07-27 17:18] loganpowell opened #89 "Anti-aliasing of font seems to get disabled within an `inverseFlipId` component"
Hi there!

Just wanted to say that I love this library. I can't believe how hard it is to find a simple "magic move" component that just works as does this one. Thank you.

This might be  a minor issue, so no big deal, but I can't figure out a way to preserve anti-aliasing removal during the animation.

Here is an example:

https://loganpowell.github.io/next-themed-magic-components

This works fla

[2019-07-27 18:31] loganpowell commented on #89
I think I found a related SO thread:
https://stackoverflow.com/questions/15464055/css-transition-effect-makes-image-blurry-moves-image-1px-in-chrome

[2019-07-27 18:39] loganpowell commented on #89
I think I found a fix, in the `<head><style>...` I got the flicker of blur during animation to go away using:

[code]

[2019-07-27 18:45] #89 closed

[2019-07-28 17:31] diondiondion commented on #79
HI @aholachek, sorry for the late response. Unfortunately your suggestion doesn't seem to make a difference for me. I noticed that the issue isn't the same across devices – it rarely happens on my Macbook, but always happens on both Chrome and Firefox Mobile on my Android phone (also in your fork of my example). I don't think it's linked to screen size though, seems more like a race condition due

[2019-07-31 17:14] aholachek commented on #89
Thanks for following up with your fix! I didn't know about that trick.

[2019-07-31 17:22] aholachek commented on #89
Thanks also for linking to that stack overflow thread! Super interesting and helpful.

[2019-07-31 21:00] loganpowell commented on #89
Thank you for your generous work

[2019-08-03 13:58] MartinConde opened #90 "Sorting animations with animejs?"
First of all thanks a lot for this library, just what I was looking for! :)

Not sure if I am overlooking something here but basically I would like to control the animations when elements are sorted.

onAppear and onExit make it easy to create custom animations when data is filtered (elements actually being added and removed) but all I can find for animations on sorting data are the spring/stagger

[2019-08-05 23:13] #90 closed

[2019-08-16 13:47] aholachek commented on #85
This is released in v7, and I've published the core of the library to [`flip-toolkit`](https://github.com/aholachek/react-flip-toolkit/tree/master/packages/flip-toolkit). Please let me know if you find anything wonky or have other suggestions.

[2019-08-16 13:47] #85 closed

[2019-08-16 13:51] aholachek commented on #87
With the release of 7.0.0, as far as I can tell this is fixed.

[2019-08-16 13:51] #87 closed

[2019-08-21 08:26] daaku opened #91 "Remove incorrect types reference"
Looks like this is incorrect: https://github.com/aholachek/react-flip-toolkit/blob/master/packages/react-flip-toolkit/package.json#L10. Removing this line allows typescript to correctly find the relevant types automatically.

This is in version `7.0.2`.

[2019-08-22 11:51] aholachek commented on #91
This should be fixed in `7.0.3` thanks to #92
Please let me know if you still see any issues.

[2019-08-22 16:54] daaku commented on #91
Fix looks good. Thanks for the quick turnaround!

[2019-08-22 16:54] #91 closed

[2019-08-22 22:48] neolivz opened #93 "Inverse Flip is not working as expected."
I am creating div inside the div and when the div is clicked the outer div expands to full-page but inner div stays the same size.
https://codesandbox.io/s/upbeat-water-s3v7o

The inner div changes position even though I wrapped it with `inverseFlipId` and `scale opacity translate`

[2019-08-26 14:26] DimitryDushkin commented on #81
Hey @mayorandrew On what version did you manage to fix your nested Flipper problem?

[2019-08-26 15:12] mayorandrew commented on #81
Hi @DimitryDushkin, this problem in this issue is fixed in version 6.6.4

[2019-08-26 15:21] DimitryDushkin commented on #81
Thanks! Turned out my problem was in constantly re-mounting Flipper component, so nested thing didn't work.

[2019-08-27 21:27] neolivz commented on #93
I was able to fix it by adding `applyTransformOrigin={false}` to parent Flipper and adding `transformOrigin="0 0"` to the main Flipped component, as well as removing translate from the inverse Flipped
https://codesandbox.io/s/wild-microservice-e8xge

[2019-08-27 21:27] #93 closed

[2019-09-05 16:20] llacorne opened #94 "Typescript error: Cannot find module '../forked-rebound/types'."
Hello,

I use react flip toolkit in my project and I have a typescript error.

`node_modules/react-flip-toolkit/lib/FlipToolkit/Spring/index.d.ts:6:116 - error TS2307: Cannot find module '../forked-rebound/types'.`

You can reproduce this error in the following repository https://github.com/llacorne/friendly-telegram.

You can see the error with command: `tsc --lib ESNext ./index.ts`

Did I do som

[2019-09-05 17:49] aholachek commented on #94
Thank you for pointing this out, and providing a test case.
I recently did some refactoring and must have messed up the types then. I've just released 7.0.5 which seems to work on your repo -- please let me know if you still have any issues.
Thank you again!

[2019-09-06 07:59] llacorne commented on #94
Thank you !

[2019-09-06 07:59] #94 closed

[2019-09-08 22:17] jonathantrevor opened #95 "New items entering?"
Does the flip toolkit support animating new items entering (and exiting)?

If I have an array that goes from 0 elements to 10 elements they simply "appear" without any animation. However, if I "shuffle" the array to reorder the existing items it animates very nicely.

I'd really like to get a simple "stacked" animation for new items, perhaps with a direction of appearance (from bottom) or "grow in

[2019-09-09 13:47] aholachek commented on #95
Hello, yes those callbacks (`onAppear` and `onExit`) are documented here: https://github.com/aholachek/react-flip-toolkit#callback-props
You will have to manage the animations yourself however, the easiest way to do it is to toggle a class with a keyframe animation on the element

[2019-09-10 02:53] jonathantrevor commented on #95
Ahh, thank you! I thought it might be part of the default behavior I could turn on but the example is very helpful.

Is there a good way of sequencing the onEnter and onExit animations (such as fadeIn or fadeOut) so that the flip animation for "existing" elements happens after either? The onExit is particularly jarring since the flipped items move "over" the exiting items, and **then** they exit,

[2019-09-13 20:45] rsouthgate opened #96 "Option to preserve wrapping height onexit until exiting element removed"
when flipped elements are exiting the flipper their position is absolute and they do whatever they are told to do to animate out and then call removeElement() finally. The surrounding page layout updates instantly and this can cause unpleasant layout while the exiting animations are occurring - especially if clearing a large staggered list.

I'm wondering if it would be possible to add an option t

[2019-10-04 08:06] diondiondion commented on #79
@aholachek I'm not sure if it's due to changes in my project or in the latest releases of flip toolkit, but this issue doesn't seem to occur for me anymore. 🎉

Closing this ticket.

[2019-10-04 08:06] #79 closed

[2019-10-19 01:40] christiancho opened #97 "Animation callbacks not called on Flipped components"
Hey - thanks for a great library. I'm having an issue having the animation callbacks being called:

[code]
None of those console log statements are being made, but `handleEnterUpdateDelete` is being called:
[code]

Just for full context: `Label` is a styled component that receives all props. I've also verified that the `FlipContext.Consumer` does get the props correctly:
![Screen Shot 2019-10-18 a

[2019-10-20 16:51] aholachek commented on #97
Hi, thanks for making this issue. I double checked [the handle enter/update/delete](https://codesandbox.io/s/4q7qpkn8q0) example and the basic functionality seems to be working fine (you can see the `onAppear` and `onExit` callbacks working in that example) so there's no obvious bug from that side.

Can you confirm that the `flipKey` is getting updated at the correct time, and that the FLIP transi

[2019-10-20 20:02] christiancho commented on #97
The flipKey is definitely updating correctly, but I don't see any transitions being applied.

[2019-10-21 21:56] christiancho commented on #97
Did a bit more digging: `animateFlippedElements ` is returning `undefined`. The docs say it should be returning a promise.

[2019-10-22 21:22] aholachek commented on #97
Ah, it does seem like something is wrong then, I will take a look this weekend, thank you for flagging.

[2019-10-23 00:58] christiancho commented on #97
@aholachek Is there a chance that it's a problem with object reference? I recently changed some code to return a new array of newly constructed objects on every fetch. Anyway, thanks for looking into this!

[2019-10-24 21:00] zero298 commented on #95
@jonathantrevor Not sure if you still need this, but I ended up coming up with a way to deal with transitioning deletion/insertion.  Hopefully either you or someone who comes along later can use it as a starting point.

The key here was to use the `Flipper#handleEnterUpdateDelete`.  You can add additional items using the "Add" button and can swap between a vertical and horizontal layout using the

[2019-10-28 11:40] dimensi commented on #97
In my case animation callbacks didn't fire, when inverseFlipId prop setted.

[2019-11-01 20:37] aholachek commented on #97
No, the `debug` prop just pauses the animation at the beginning: https://github.com/aholachek/react-flip-toolkit#advanced-props

@christiancho could you just confirm you're using the latest version? (7.0.6)

[2019-11-01 21:42] christiancho commented on #97
@aholachek Good to know about `debug`.

Yes, I'm on `7.0.6`.

[2019-11-02 14:03] aholachek commented on #97
Hi @christiancho, thanks for confirming. I thought I might have some idea of what could be going wrong, but so far I've been unable to reproduce this issue locally. If you could make a minimal codesandbox example for me to look at, that would be extremely helpful.

[2019-11-05 16:11] EddyVinck opened #99 "Question about components that are rendered asynchronously"
Hi! Thanks for the cool library! I actually started working on my own implementation for magic move animations, but then I found yours. :slightly_smiling_face:

I have a question about fetching data asynchronously.

If my `Flipped` on page A has the same ID as the one on page B, but page B fetches some data before rendering `Flipped`, the animation does not happen, which is expected since the dest

[2019-11-06 12:09] aholachek commented on #99
Hi Eddy,
Right now at least, there is no special handling in react-flip-toolkit for that situation. If you still want a transition, you'd have to keep the old `Flipped` on the screen until the data is ready for the new `Flipped`, and only then update the `flipKey`.

The skeleton loading state idea should work, but only, obviously, if you put an appropriate `Flipped` element there somewhere. Otherw

[2019-11-07 08:29] EddyVinck commented on #99
@aholachek Thanks for the reply. It will be a while until we get to the point where we will implement the skeleton screens. I'll let you know how it goes.

[2019-11-07 11:43] RichardPK opened #100 "Control the duration of animations"
I may be missing something obvious here - but is there a prop to modify the length of time that an animation takes? Not staggering it based on another Flipped component, nor delaying its start - the equivalent of `animation-duration`, or is that actually just to be controlled by the CSS?

[2019-11-07 12:18] aholachek commented on #100
Hi, react-flip-toolkit uses springs for animation instead of easings with durations,
[Here's where they're mentioned in the docs](https://github.com/aholachek/react-flip-toolkit#spring-customizations).

There are some ways to play with spring durations, though. [Using this site](https://spring-playground.netlify.com/) you can adjust the "frequency response" variable to your desired duration, then

[2019-11-07 19:59] Grafikart commented on #95
I don't know but it may help cause I got the same problem

[code]

I was using an object as a key and as flipId (but flipId has to be a string).
Maybe a check could be added to throw an error if flipId is not a string (or I should be more carefull when reading prop documentation) ?

[2019-11-08 11:57] RichardPK commented on #100
Nice one thank you!

[2019-11-08 11:57] #100 closed

[2019-11-08 15:02] mattrothenberg opened #101 "Dynamic staggerConfig?"
Howdy!

I'm troubleshooting an issue in `vue-flip-toolkit` (https://github.com/mattrothenberg/vue-flip-toolkit/issues/17) where a user has noticed that, due to my hasty implementation, `staggerConfig` is only ever passed to the `Flipper` component during construction and hence doesn't update as a user modifies it.

[code]

For example, if a user wants to toggle `reverse` (from true to false, as a

[2019-11-08 20:42] mattrothenberg commented on #101
Made some progress! After playing around with the markup in my example, I got things to stagger.

I noticed, tho, that the `delayUntil` attribute never gets added to a particular element's `dataset` attribute, and I _think_ that stems from a discrepancy between the React & Vanilla implementations.

[Vanilla](https://github.com/aholachek/react-flip-toolkit/blob/master/packages/react-flip-toolkit/sr

[2019-11-09 14:56] #99 closed

[2019-11-09 15:08] aholachek commented on #101
Hi @mattrothenberg,

You're totally right, looks like `delayUntil` is just not getting passed in to `Flipper`. I added the `delayUntil` option a couple of months ago when I refactored to remove nested staggering support, so I must have forgotten to add it to `flip-toolkit`. I'll confirm that and then release a patch.

[2019-11-09 15:09] aholachek commented on #101
Just to clarify, do you have stagger updating working or is that something I should also take a look at?

[2019-11-09 15:51] mattrothenberg commented on #101
Thanks, and sorry for the confusing ramble.

Yup, I believe I have the dynamic stagger working. The setter function on the Flip instance seems to be doing the trick (at least to my eyes – take a look at the GIF below).

![Kapture 2019-11-09 at 10 48 10](https://user-images.githubusercontent.com/5148596/68531258-91c7b100-02de-11ea-93e7-e9b3cedbdd0e.gif)

Once that `delayUntil` value gets passed to

[2019-11-09 18:49] aholachek commented on #101
I just published 7.0.7 which should fix the `delayUntil` option, thank you for flagging it, and please let me know if you find any other issues.

[2019-11-09 19:04] mattrothenberg commented on #101
Thanks for the quick turnaround @aholachek.

[2019-11-09 19:04] #101 closed

[2019-11-12 15:16] amitnovick opened #102 "FLIP animation not occurring while element is in motion"
Hey @aholachek,
Really cool library!

I think I hit an edge case when using it for a new app.
So I have an element that slides + fades into view using ~~theWeb Animations API~~ CSS keyframes by animating the `transform` and `opacity` properties.

I expected to be able to interrupt this motion, and move the element somewhere else using a FLIP animation, but encountered a problem as there is no anim

[2019-11-12 15:34] aholachek commented on #102
Hi,

First of all, thank you for making a reproducible test case! Very helpful.

if I understand correctly, the initial animation is the result of a css keyframe. Since the keyframe is in progress when the FLIP animation takes over, you will get overlapping animations. In general, combining CSS animations with JS ones (from the flip library) tends to cause problems. I would explicitly cancel the a

[2019-11-12 15:55] amitnovick commented on #102
Yep, got mixed up with a different piece of code 😅

Thanks for the great explanation!
I followed your suggestion and applied the `animation: slideAndFadeIn 1s; `  property only under a specific state of the element, and that solved it (you can see it working here: https://codesandbox.io/s/issue-react-flip-toolkit-element-in-motion-sl0y2)

Here's the change:

[code]

Pretty new to web animations in

[2019-11-12 16:20] #102 closed

[2019-11-14 13:18] amitnovick opened #103 "setTimeout messing with animation"
Hi again @aholachek,
I've encountered another issue that leaves me scratching my head, not able to figure out what's going on 🤔

I'm trying to animate a square to a desination element (calculating destination position via `element.getBoundingClientRect`), and it works fine when I call the function that animates it  (`moveSquare`) immediately after clicking the square.

However, in my case I want t

[2019-11-15 21:08] amitnovick commented on #103
Alright, so I found the root of the problem.

This isn't a `react-flip-toolkit` issue, it's actually a React issue, and a quite an insidious one that I never imagined I would have to face.

Fortunately, there's already an issue opened on it, and I went ahead and contributed a [minimal reproduction](https://github.com/facebook/react/issues/17048#issuecomment-554527724) that might help getting it fi

[2019-11-15 21:08] #103 closed

[2019-11-16 15:10] amitnovick opened #104 "Wide border style gets applied right before FLIP animation"
Hey there,
been experimenting some more with this library and encountered another issue 😅
Hoping you'll be able to help me out!

## Expected Behaviour
Clicking the square on the center should animate it towards the square at the top, with a border width not wider than original width.

<div align="center">
<img src="https://user-images.githubusercontent.com/43674238/68995167-5f482600-0893-11ea-8cc8

[2019-11-17 04:43] atomiks commented on #104
I think this is something inherent with FLIP techniques: they distort `border-radius`, `border-width`, etc. Please correct me if not @aholachek 😄

I've had some success masking it by interpolating the values. They can't have subpixel values unlike transforms, so it's not perfect, but in the above case, you could interpolate the `border-width` from a smaller value e.g. `0.5px` or `1px` back to `2px

[2019-12-03 14:56] amitnovick opened #106 "Shared Element Transition between Page and Modal (using portal)"
Hi,
I've been using FLIP animations more and more, and this time tried to use this library to create the transition of an element from its position on the page to a position of another element in a modal (aka shared element transition).

I probably messed something up, because I'm not getting the page->modal transition to work (whereas the modal->page transition does!)

Would appreciate if you cou

[2019-12-04 19:47] amitnovick commented on #106
Apparently this issue was caused because the `Modal` component was mounting the React portal as a side effect after initial rendering, and this is why on the very first rendering of it (after the `flipKey` has changed), there was no element in the DOM tree to measure the rectangle of (despite being wrapped by a `<Flipped>` component).

After looking at the code for the Portal demo you added to thi

[2019-12-04 19:47] #106 closed

[2020-01-22 19:24] jjwallace opened #108 "Animation are not performing"
Ive checked the inline-block style and unique key.

[code]

[2020-01-23 15:47] aholachek commented on #108
Hi, it looks like you're not spreading `flippedProps` into `StreamItem` from this code sample

[2020-01-23 18:13] jjwallace commented on #108
Ive tried another method, still not working.  Seems i need to look into spreading the props like you mentioned.
[code]

[2020-01-23 18:19] jjwallace commented on #108
I tried another method:

[code]

Animations also still don't work.

Is there an example of map function with spreading flippedProps?

[2020-02-02 12:52] jlkiri commented on #33
@ConneXNL  I've been working on a solution that is completely based on React hooks. It is functionally quite similar to this library. Check it out if you're still interested.
https://github.com/jlkiri/react-easy-flip

[2020-02-03 08:35] ahmetkuslular commented on #104
@atomiks hi, I did't fully understand what you said, can you give an example?

[2020-02-06 11:21] rshackleton opened #109 "Generated types are too restrictive"
The current generated types are too restrictive as they require the options to include all possible parameters, despite many being optional.

For example this usage is incorrect and results in compiler errors:

[code]

[code]

Current type definition for `Flipper`:

[code]

[2020-02-12 23:04] learis opened #110 "Animation Doesn't Work Well with Containers Using the Column-Count styling"
So I'm trying to accomplish list reordering along with adding and removing items from the list. What is different from other examples is that I'm having everything contained within a container that uses this css styling to keep all list items evenly spread within 3 columns:

[code]

`break-inside: avoid-columns` makes it so the list items cannot wrap to the next column; I assume some algorithm jus

[2020-02-13 04:11] aholachek commented on #109
Thanks for catching this! I've been on vacation but will try to have this fixed by the weekend.

[2020-02-17 17:54] aholachek commented on #109
This should be fixed in v7.0.9, please let me know if you still run into trouble.

[2020-03-09 07:21] raibima opened #114 "Version 7.0.8 pulls in the entire @emotion toolchain"
Hi @aholachek, not sure if this is expected but I just noticed the v7.0.8 on npm pulls in @emotion toolchain.

## Repro
[code]

Tried to inspect the content of node_modules, I saw the following in this library's dependencies:
[code]

Notes:
* Doesn't happen on v7.0.7 and below.
* We should probably remove `react` from the dependencies as well

[2020-03-09 21:00] aholachek commented on #114
Hi @raibima ,
Thank you for flagging! I believe this is the second time those dependencies have been automatically inserted by something, so I need to dig deeper into what happened, but in the meantime, [I've published a patch that should remove the unused dependencies](https://unpkg.com/react-flip-toolkit@7.0.9/package.json)

[2020-03-10 04:02] raibima commented on #114
thanks! I have verified the latest version no longer has this issue 👍

[2020-03-10 04:02] #114 closed

[2020-03-20 13:28] mattleonowicz commented on #5
@aholachek I have a question regarding this `portalKey`. In TypeScript types I can see that Flipped also has `portalKey` property.
This is not documented but I assume that if I provide it to Flipped, it will only react to Flipper with the same portalKey?

[2020-04-03 04:46] zhiqinyigu commented on #30
Hi  @aholachek , I've found that Flipper's onComplete doesn't call back in some cases. It seems to have something to do with onExit and onAppear, because I always pass them to Fliped.

Oh, I use flip-toolkit. But I repeat this problem in the official example. You can try to pass on the Complete to Flipper,  eg:  `onComplete={() => console.log('Flipper onComplete')}`

This may not be a bug, but at

[2020-04-22 16:05] benatkin opened #117 "broken Code Sandbox example"
This is linked in the README: https://codesandbox.io/s/8130rn9q2

It doesn't work because of a syntax error.

All it needs is a closing bracket added to the end of **styles.css**.

[2020-04-22 16:45] aholachek commented on #117
Thank you so much for catching this! I've fixed it.

[2020-04-22 16:45] #117 closed

[2020-04-24 01:47] shrugs opened #118 "inverse scale transition is notably off if children are scrollable"
here's a demo of the behavior i'm seeing.

https://codesandbox.io/s/blazing-fog-8f1sv?file=/src/App.js

to see the effect:

1. open and close the window and notice that the initial frames are _slightly_ off (by a pixel or so, but not a big deal)
2. enable overflow, which will put a bunch of children in an `overflow-y: scroll` div
3. open and close the window again, noticing the 'bounce' effect tha

[2020-05-03 21:23] learis opened #119 "onExit not working, nodes have already vanished?"
This happened today and I cannot figure out why. Everything was working fine for weeks, but now my "fadeout" animation from my onExit callback is gone. I follow the simple example of adding a class which initiates a fadeout animation, and then have a timeout to call the removeElement function afterwards. But now the nodes just instantly disappear. There is no animation and just a waiting for the t

[2020-05-04 01:50] learis commented on #119
Please disregard this issue. It ofcourse is my error. Between my Flipper and my Flipped elements I have some "middle-man" div's. I made poor choices in the key property that I gave to these divs which resulted in them re-rendering during state updates when they absolutely should not have re-rendered. Their unwanted re-renders screwed up my onExit calls. This effectively is what caused my problem.

[2020-05-04 01:50] #119 closed

[2020-05-04 15:46] aholachek commented on #119
Thanks for the follow up!

[2020-05-07 08:29] jlkiri opened #120 "Broken codesanbox example (Stripe)"
Hi, it seems that your Stripe menu codesandbox example is broken.
Looks like you need to change import from `~normalize.css` to `normalize.css`, like here:

https://codesandbox.io/s/react-stripe-menu-ckmhs

[2020-05-07 18:24] aholachek commented on #120
Thank you for the fix! I've made your suggested change and it works now.

[2020-05-07 18:24] #120 closed

[2020-05-29 16:13] jraoult opened #121 "Make prop-types a direct dependency"
Following the official advice would you consider putting prop-types in the dependencies list cf. https://github.com/facebook/prop-types#how-to-depend-on-this-package.

I ended installing it as a dependency in my app (even if I don't actually use them) just so that _yarn_ stops to complain and _dependabot_ doesn't skip `react-flip-toolkit` upgrade because the peer dep is missing.

Thanks for the fa

[2020-05-29 16:27] aholachek commented on #121
Thanks, I wasn't aware of this recommendation. I'll release a patch update this week that fixes this.

[2020-05-30 15:59] aholachek commented on #121
Released in 7.0.10! It looks like tools like bundlephobia now count proptypes as contributing to increased bundle size: https://bundlephobia.com/result?p=react-flip-toolkit@7.0.10, which is a bit of a shame since the actual bundle size wasn't affected by this change.

[2020-06-01 11:35] jraoult commented on #121
@aholachek oh thanks for the quick turnaround!

Yeah, this a limit of the bundlephobia reports. They give you the worst-case scenario which is often not the actual impact on the app. To be fair, a quick look at the other animation libraries for react on bundlephobia shows that they are including `prop-types` as well, so the comparison (even with this offset) still makes sense.

[2020-06-01 17:03] aholachek commented on #121
Good point. I'll close this issue but feel free to reopen if it didn't fix the issue, and thanks again for flagging it.

[2020-06-01 17:03] #121 closed

[2020-06-08 10:57] Nero-t opened #124 "Dependency was not found"
Hello,

I want to use flip-toolkit (whitout react) so I do :

npm install flip-toolkit
then
import { Flipper } from 'flip-toolkit'

And i have this problem :

<img width="634" alt="Capture d’écran 2020-06-08 à 12 48 08" src="https://user-images.githubusercontent.com/66620825/84023113-cd674e00-a987-11ea-9013-0c7d786cefe6.png">

But i have both folders in my node_modules : flip-toolkit and react-f

[2020-06-11 14:49] aholachek commented on #124
Hi @Nero-t, thanks for making this issue! You caught a bug. Can you try `flip-toolkit@7.0.11` and see if it resolves this problem?

[2020-06-11 20:22] Hugo-22 commented on #124
Hello @aholachek and I will thank you very much !

Bug fix  with `flip-toolkit@7.0.11`

[2020-06-11 20:35] Nero-t commented on #124
Hello @aholachek, I will thank you very much !

Bug fix with `flip-toolkit@7.0.11`

[2020-06-11 20:35] #124 closed

[2020-06-11 23:30] mikehobi opened #125 "7.0.11 compiler error: "export 'default' (reexported as 'spring') was not found in 'flip-toolkit'""
Hello,

I noticed this on a project when updating my packages. And decided to test on a fresh create-react-app.

Any import from `"react-flip-toolkit"` will cause this error:

![image](https://user-images.githubusercontent.com/3231913/84448897-bd0dd800-ac00-11ea-9029-e27a8defdd47.png)

[2020-06-12 00:08] aholachek commented on #125
Thank you for catching this! I did a small refactor today and somehow missed the incorrect export in this file (which I've since fixed): https://github.com/aholachek/react-flip-toolkit/blob/master/packages/react-flip-toolkit/src/Spring/index.ts.

I just released 7.0.12 which should be ok, please let me know if you still have any problems.

[2020-06-12 00:11] mikehobi commented on #125
That fixed it! Thank you for fixing so quick, this project is great!

[2020-06-12 12:46] #125 closed

[2020-06-13 13:39] shunmian opened #126 "List transition example not working"
The list transition example in [code sandbox](https://codesandbox.io/s/list-transitions-ju549?file=/src/index.js) cannot run with throwing error of `TypeError
(0 , _reactFlipToolkit.spring) is not a function`.

[2020-06-13 14:47] aholachek commented on #126
Thank you for catching this! This has been fixed.

[2020-06-13 14:47] #126 closed

[2020-06-20 21:07] johnico opened #127 "Push list animation with fixedList in react-window"
I am using material ui + react-window

I am looking for a way to animate new item in the liat that the item will push the list annd will be placed in the first position.

Did not find a documetion for that , is it poasible ?

[2020-06-27 15:46] janLuke opened #128 "Help: how to increase z-index of a specific element"
I have three containers, each holding a grid of items. Each item has a "context menu" that the user can use for moving the item from one container to another. Currently, I have a single Flipper element that wraps all containers, and a Flipped element for each items of the three grids.
Items move correctly but when the item that moves must go up the page, it gets hidden by other items. I want the i

[2020-07-02 02:11] Losses opened #129 "Weird transform matrix generated while combining object-fit and react-flip-toolkit"
Minimal bug demo:
https://codesandbox.io/s/react-flip-toolkit-bugreport-01-09ywo?file=/src/styles.css

The image is not transformed smoothly, with a weird bounce.

[2020-07-02 03:11] aholachek commented on #129
Thanks for making a demo!
I'm sorry to say I don't think react flip toolkit can tween images that change their aspect ratio as part of the transition very well. For a smooth transition I think you need to remove either the height or width params to prevent the aspect ratio from changing: https://codesandbox.io/s/react-flip-toolkit-bugreport-01-3kk9u?file=/src/styles.css (which I understand might n

[2020-07-02 04:31] Losses commented on #129
@aholachek Hi! thanks for you reply! I wonder if react-flip-toolkit can expose an API to let me tune the transform matrix manually based on what is already calculated by the package.

 I've found a way to fix the start point and end point of the matrix but can't do anything to apply my fixing solution.

[2020-07-02 16:57] aholachek commented on #129
It's possible, but probably not something I would be able to work on for the foreseeable future. In case you'd like to look into it a bit more, [this part of the code](https://github.com/aholachek/react-flip-toolkit/blob/master/packages/flip-toolkit/src/flip/animateFlippedElements/index.ts#L383) would be worth exploring.

[2020-07-03 04:16] lifeiscontent opened #130 "Can't figure out how to animate last item."
Hey @aholachek first off, thanks for this great library.

I was wondering if you could give me some insight on how to handle some of these edge cases I'm seeing.

1. if you add the first item to the list, it doesn't animate in.

2. is there a way to remove the container if there are no elements left without breaking the lifecycle of the animation sequence?

https://codesandbox.io/s/quirky-waterfal

[2020-07-05 01:42] aholachek commented on #130
Hi, for  question 1, you'd need to create an animation yourself using the `onAppear` prop of `Flipped`,  something like  this: https://codesandbox.io/s/sleepy-water-eessr?file=/src/App.js
For question 2, I'm not sure I fully understand but it doesn't sound like something that would work -- if you remove the container you will immediately remove all elements inside of it.

[2020-07-30 22:32] Lmpas28 commented on #108
@jjwallace did you find the solution to this? I'm having the same issue with lists...

[2020-09-24 04:14] mikeriley131 commented on #54
@aholachek Could you put this solution in the README? Been banging my head for a while trying to figure out why the animations weren't happening. Great package, by the way! Thanks for this.

[2020-09-28 16:34] itxtoledo opened #137 "React-native support?"
I would like to know from you if this library works in react-native. I've been using it in ReactJS and I would like to use it in my App

[2020-09-28 16:57] aholachek commented on #137
Hello, react-flip-toolkit was not made with react-native in mind so I would be surprised if it worked seamlessly, but I have not tried it or heard of anyone who has tried it.

[2020-09-29 18:28] #137 closed

[2020-10-09 08:53] TomasSestak opened #138 "Spring explorer repo doesn't work"
https://codepen.io/aholachek/pen/bKmZbV

I have only blank space

[2020-10-09 16:13] aholachek commented on #138
Thanks for the heads up! This has been fixed.

[2020-10-09 16:13] #138 closed

[2020-10-09 16:14] aholachek commented on #138
(I guess just to be clear i should clarify that I changed the link in the readme to this codesandbox instead of the old codepen: https://codesandbox.io/s/react-flip-toolkit-spring-settings-explorer-vjrsh)

[2020-10-30 08:39] RomeoDespres opened #140 "Weird animation of 0-sized elements"
Because I'm using some dynamic filtering, the elements I wrap in Flipper sometimes end up having a 0px height. They display fine when nothing moves, but when a flip animation is triggered, it seems react-flip-toolkit gives them a non-zero height only during the animation. It results in a buggy look and feel. Not sure if it's a bug or a known feature, but I'd appreciate any advice on how to avoid t

[2020-11-02 22:44] aholachek commented on #140
Hi, thanks for describing this issue so clearly! The min-height of 1px that's being applied by react-flip-toolkit is meant to avoid buggy animations caused by animating to 0 height or width in Chrome, but I see that is not desirable here since the hidden elements aren't being animated. I'll update the library to skip adjusting heights and widths for non-animated flipped components, and comment her

[2020-11-05 12:35] RomeoDespres commented on #140
Hi, great thanks for your quick response. Looking forward to see this solved :)

[2020-11-05 18:04] aholachek commented on #140
I've just published a beta version (7.0.13-1) that I believe will solve this and similar problems: https://codesandbox.io/s/react-flip-toolkit-list-shuffle-example-forked-3sgqh

I need to QA it a bit more since I also included some housekeeping tasks, but I hope to publish the patch version by tomorrow.

[2020-11-05 22:23] aholachek commented on #140
This should be fixed in 7.0.13, please let me know if you still have any issues.

[2020-11-05 22:31] #130 closed

[2020-11-06 10:01] RomeoDespres commented on #140
Works as a charm, thanks a lot! This library is really awesome :)

[2020-11-06 10:01] #140 closed

[2020-11-13 15:15] raphaelaleixo commented on #97
Hey @christiancho , @aholachek : I'm getting this same problem. Either of you were able to find out what's happening?

[2020-12-04 16:35] rromikas commented on #128
I had similar issue and solved it. Moving animation is created by removing source element and changing target element position with "transform: translate". So you need to care about z-index of target element. You can try set that element position to "relative" and set z-index to as high as you need. Since the target element is transformed, you can manually transform it in browser and check if it i

[2020-12-08 23:05] ZachSaucier opened #141 "Permission to fork demos"
Hey Alex. Would you mind if we at GreenSock used a couple of demos based on some of the demos for this library for our upcoming Flip plugin? Our JS implementation is quite different and makes use of GSAP, but we used some of the demos listed for your tool to test different aspects of our plugin and we'd like to show those demos to others.

Keep up the great work! And lovely personal site by the wa

[2020-12-09 01:51] aholachek commented on #141
Hey, thanks for asking! Feel free to take whichever demos might be helpful.

[2020-12-09 01:51] #141 closed

[2020-12-19 20:05] nerdydrew commented on #65
I'm experiencing the same thing in Firefox. Have you found a solution yet? I made a code sample reproducing the issue: https://codesandbox.io/s/react-flip-toolkit-unexpected-scrolling-eo621

https://user-images.githubusercontent.com/4968522/102698407-f99f3980-420a-11eb-84f6-9e42dcd1c954.mov

[2021-01-09 23:22] rromikas opened #144 "onExit - onAppear fails to perform correct transitions if elements appear and exit quickly"
This bug exists in your own example of Route based animations. It seems that exiting element doesn't fully disappear if new one appears very quickly. Are there any fixes?

![exit-appear-bug](https://user-images.githubusercontent.com/47330670/104110593-bd2e9d00-52e1-11eb-8468-62b76c2e2136.gif)

[2021-01-09 23:28] rromikas commented on #144
As in my case below, if I change route too quickly new element appears in the wrong position, if I click with delay, it works well.
![exit-appear-bug1](https://user-images.githubusercontent.com/47330670/104110704-f287ba80-52e2-11eb-8c50-4c848279ab5e.gif)

[2021-01-09 23:43] rromikas commented on #144
I solved it by setting Date.now() as flipId. Everytime having unique id helps in this situation.

[2021-01-10 02:26] #144 closed

[2021-01-27 22:35] las3r opened #145 "Question: Animation in negated Child"
Thanks for creating this.

I am wondering how I could have the following working.

https://codesandbox.io/s/react-flip-toolkit-example-expanding-div-forked-qv7hl?file=/src/index.js

MY goal is:
1) Have a clickable sidebar that animates to a wider version (this works)
2) Make sure the contents don't warp (this works too)
3) Have the text inside the non-warped content fade-in (based on their opacity

[2021-01-28 06:57] las3r commented on #145
Found out the solution myself after a semi-good night of sleep. By adding another Flipped with "opacity" set to true it still negates the scale. Works:
[code]

[2021-01-28 06:57] #145 closed

[2021-01-28 15:28] gaillota commented on #137
I just tested it out and it doesn't work. `react-flip-toolkit` has some hardcoded `div` in its codebase which is incompatible with `react-native`

[2021-02-22 11:43] Visualizeit commented on #108
flipKey must be a dynamic value, try <FlipperflipKey={Symbol()} stagger >

[2021-02-28 04:54] adiun commented on #108
Hey @jjwallace @Lmpas28 - please check the docs to see how to pass `flippedProps` into React components: https://github.com/aholachek/react-flip-toolkit#wrapping-a-react-component

[2021-04-12 14:53] jamalneufeld opened #149 "CSS-only animations?"
I have a demanding UI with quite a few elements. The flip toolkit works fairly well at animating components but there's definitely stuttering while items are in motion. As far as I can tell the animations are calculated in JS and added to the css transform value. Is there any way to use _only_ CSS animations? This would help offload a lot of the work that's being done on the JS thread and give me

[2021-05-04 07:06] enriqueArb commented on #57
I don't know if it will fix your problem, but doesn't  decisionData should be like `decisionData={{ items }}`?

[2021-05-05 20:13] Timmiej93 opened #151 "Removing an element changes its size"
I'm trying to do the opposite of the default fade in animation for when I remove an element. I wrote this simple function that gets called from both `onAppear` and `onExit`:
[code]

**JSX**
[code]

**CSS**
[code]

The fade in works flawlessly, but on fade out, the element immediately changes size, and then fades out as intended. The default size of the element is 70x20px, with 5px padding around,

[2021-05-06 09:47] Timmiej93 commented on #151
Like I expected, it has something to do with the 5px of padding around the `timerEditorStartTimeContainer` `div`. I do remember seeing something about padding causing issues before, but I'm not sure if I saw that here or on `react-flip-move`.

Anyway, for anyone running into the same thing, it can be solved with a simple change:
**JSX**
[code]

**CSS**
[code]

If somebody who knows more than me ha

[2021-05-06 09:47] #151 closed

[2021-05-11 10:06] mattleonowicz opened #154 "Heavy .cache folder in npm package"
Hi @aholachek

I've noticed there is this heavy .cache folder distributed in the npm package for 'flip-toolkit'.
I think this might be a mistake and it should be ignored when distributing

[2021-05-11 13:04] aholachek commented on #154
Thank you for the heads up! I'll take a look at this today.

[2021-05-13 17:45] Timmiej93 opened #155 "[Question] Can animations be skipped?"
In my current setup, I have some animated objects in a popup. The animations that happen while this popup are open are perfectly fine, but the issue occurs when the popup opens. Instead of just popping into existence, the animated objects pop in at some (seemingly) random place, and animate to their final position, which makes it look very broken. Is there a way to disable animations temporarily (

[2021-05-13 18:16] Timmiej93 commented on #155
As always: Ask, and suddenly everything clicks into place. Turns out I had other processes messing with the animations, making it look like the `onAppear` action didn't do what I wanted, but in reality, it was running twice, while not animating once, as I wanted.

[2021-05-13 18:16] #155 closed

[2021-05-26 21:06] lawrensylvan opened #156 "Way to preserve existing transform properties (rotations) ?"
Hi and first of all thank you for this awesome library.

During my experience with this library, it seems that I am unable to achieve a simple thing : animate an element for which I assigned a preexisting `transform: rotate(...)` css property. It seems react-flip-toolkit is replacing the transform property with a new transform with the necessary translations but get rids of the transform ?

Ideall

[2021-06-11 12:01] MarcelGerber opened #159 "Transform bug in SVG elements in Safari"
Hi 👋

We're using your awesome library at Our World in Data to animate our charts, and it's very nice to use. So, thank you for making our life a tiny little bit easier in that regard.

We're using it in what is probably not exactly a supported use case, namely animating SVG elements. And it works fine!
However, we have noticed that this breaks in weird ways in Safari (Safari 14, on desktop and iO

[2021-06-27 19:03] manelio opened #160 "Problems with scroll in list-detail components"
I know there are several issues about scrolling already resolved. But I think mine is a different case:

Scenario:

A component ItemsList and a component ItemView, conditionally shown one or another depending on wether an item is selected.

Mobile screen: from the second item some scroll is always needed to reach it.

Content of ItemView is larger than the screen height.

Problem:

For the first a

[2021-07-02 15:47] aholachek commented on #159
Hi Marcel,

Sorry for the delay in response, and thank you for providing a helpful test case. Due to my lack of in-depth knowledge surrounding svg animations, I can't say for sure what is wrong, and my efforts to debug your animation in Safari didn't yield anything conclusive. To be honest, Safari seems to be the source of many compatibility headaches, so personally, I like your linked approach of

[2021-07-02 21:59] MarcelGerber commented on #159
Hi Alex,

first off, thank you very much for your helpful response.

Yeah I must admit that I also don't really grasp what's going on here, and am not very familiar with SVG animations either. I was just happy that `react-flip-toolkit` worked with very little work from my side (even if this is not really a supported use case, I suppose)!

That's too bad. This fix was originally meant as a stopgap

[2021-07-03 00:59] MarcelGerber commented on #159
Okay, I've had a look into the issue for a long time now. Here's what I could gather:
* Using the SVG `transform` property doesn't help at all. In fact, it makes things worse, since `transform` is not taken into account for `getComputedStyle` in Safari, only `style.transform` is. So we definitely need to use `style.transform` for this reason.
* For some reason, even when using `style.transform`, `

[2021-07-16 21:55] BranislavMateas opened #161 "Animations don't work, somehow ¯\_(ツ)_/¯"
So basically I am new here, and I am trying to make this work. BUT, my animations are not working. Correct me, but am I right, that I can use this API with functional programming? I still don't get the flipKey (i set it to {orderChange}, basically because of the fact, that animation will start when this function is called) and flipId (id of Todo). My Array of todos consists of following?
Array(3)

[2021-08-02 23:11] mprast opened #162 "Doc Suggestion: mention React Key in troubleshooting"
Hello! I just finished working on an animation that had on onExit() callback that wasn't working until I added a `key` prop to my `Flipped` element. I know `key` is a React thing and not a react-flip-toolkit thing, but this suggests to me there's something about the way react-flip-toolkit works with react that requires `key` to be there, some of the time or all of the time (especially since every

[2021-08-12 22:55] mprast opened #165 "Bug(?): onExit jumps around when used with a changing css grid container"
It looks like the positioning logic react-flip-toolkit is using is having trouble meshing with css grid at points.

Here's a [repro](https://codesandbox.io/s/react-flip-toolbox-grid-bug-repro-x53fs?file=/src/App.js)!

What I'd expect to see: 'Two!' should stay where it is and fade out
What I did see: 'Two!' jumped to the right before fading out

It looks like elements in a css grid are positioned

[2021-09-16 00:56] dudo commented on #156
I think I have a similar question. I'm moving an element from 1 parent to another. With no rotation, this works *beautifully*. My use case is a playing card game, so think a draw pile and some players spaced out in a circle of sorts.

Anyway, I created a little demo of what this looks like:

https://codesandbox.io/s/wizardly-tree-gzxzy?file=/src/App.js

Any thoughts @aholachek ?

[2021-10-05 13:29] stevencmh opened #169 "Only animating on first change"
Hi!

So close to getting this to work but my animation only triggers on the first change.

What am I doing wrong? :) Pretty sure all my keys are unique!

https://user-images.githubusercontent.com/35059438/136032478-c00cbba3-e2a0-47e9-8660-16a3be465bc3.mov

[2021-10-09 13:59] aholachek commented on #169
Hi Steven, I'm not sure from this video, but if you can post the code (or a simplified repro) I could check it out.

[2021-10-09 14:46] stevencmh commented on #169
Hi, thanks!

It may be to do with how I'm pushing items in and out of my array … here is my code and a new video showing with an ALL button as well.

![Screenshot 2021-10-09 at 15 44 42](https://user-images.githubusercontent.com/35059438/136662860-74df1ecb-428b-403f-83c4-9e467c7ebe06.JPG)

https://user-images.githubusercontent.com/35059438/136662863-f9cd32b4-c210-40da-b07b-92e8cf49f750.mov

[2021-10-10 13:04] stevencmh commented on #169
And this is the repro https://github.com/stevencmh/filter-and-flip

[2021-11-02 02:28] MrHeer opened #174 "`flip-toolkit` package should not depend on react"
First, thank you develop this great awesome toolkit!

I want use it in `Angular`, but `flip-toolkit` package have some type depend on `react` type. This make some `type` error.

[2021-11-20 14:52] stevencmh opened #175 "Latest Safari glitchy"
Hi,

This looks lovely in FireFox and Chrome, but in Safari (15.1) it's a bit glitchy and sometimes 'blinks' before jumping into position.

Has anyone else had this issue and/or a workaround?

Thank you!

[2021-11-22 12:41] stevencmh commented on #175
Ah, it looks like Safari can't handle the transitions if next/image is using _placeholder_ and _blurDataURL_.

[2021-11-22 12:41] #175 closed

[2021-12-30 10:13] manelio commented on #160
I'm still facing this problem. I created a very small CodeSandbox here:

[https://codesandbox.io/s/react-flip-toolkit-scroll-issue-d5csk](https://codesandbox.io/s/react-flip-toolkit-scroll-issue-d5csk)

I have been reading the code and I'm pretty convinced the problem comes from  the fact `componentDidUpdate` calls `onFlipKeyUpdate` (`flip-toolkit` package) which synchronously calls

[code]

Here,

[2022-02-18 19:59] TamirCode opened #182 "functional components to replace class examples"
I want to animate my array which has cards that change position
but the example is super complicated and its also written in class component which makes it even harder

[2022-03-07 18:36] amorriscode opened #184 "Access to Flipper element"
The `Flipper`'s `element` is currently private. I'd like access to it and am just curious, why is it private? What is the suggested method for accessing the element if not using `flipperRef.current.el`?

https://github.com/aholachek/react-flip-toolkit/blob/1b55fea0da6caccb48974c1e11277ac593657994/packages/react-flip-toolkit/src/Flipper/index.tsx#L23

[2022-03-09 12:19] F3n67u commented on #154
@aholachek could you help solve this problem? flip-toolkit takes 56mb of my disk. I think it's very unreasonable.

https://packagephobia.com/result?p=flip-toolkit

<img width="1904" alt="image" src="https://user-images.githubusercontent.com/12343178/157440651-2e873fe0-31ae-416e-82ec-10c43c330724.png">

[2022-05-08 14:57] kelleghan1 opened #187 "Entering elements do not have onAppear called when the flip animation is interrupted by another update"
Thanks for the great package. I am wondering about the expected behavior for entering elements that trigger a flip animation which is then interrupted by more entering elements. Is it expected that the onAppear callback is canceled for interrupted flip animations? I have a simple onAppear function which fades the element in by adding a class, but if the flip animation is interrupted then the enter

[2022-05-12 20:37] jwindmuller commented on #154
This large package is timing out some builds in GitHub actions intermitently, seems like 7.0.11 didn't suffer from this problem:

https://registry.yarnpkg.com/flip-toolkit/-/flip-toolkit-7.0.13.tgz
https://registry.yarnpkg.com/flip-toolkit/-/flip-toolkit-7.0.11.tgz

[2022-05-13 08:23] mattleonowicz commented on #154
@aholachek Can you take a look? I believe there is no way we can make a PR for this, right?
Files that decide what is published to npm are not commited, right? I have no experience with publishing. Ignoring this .cache during publishing is required.

[2022-05-13 15:45] aholachek commented on #154
Apologies for the delay in response, and thanks for the pings.
I just released v7.0.14 which should [fix this issue](https://packagephobia.com/result?p=react-flip-toolkit).

[2022-07-29 13:44] tkriplean opened #192 "Cannot find any packaged version beyond v6.6.5 for use in a script tag"
Thanks for this project!

I'm trying to find a packaged version of react-flip-toolkit / flip-toolkit that I can include in my web app via a script tag.

It appears that sometime around v6.6.5, the UMD builds stopped being compiled & packaged. Here's the last place I can find it: https://unpkg.com/browse/react-flip-toolkit@6.6.5/ (after following the guidance in #9). I haven't been able to find any

[2022-07-30 09:53] michal-rybinski-91 opened #193 "Flip id is not sanitized before being put in the data attribute"
This leads to errors with query selector:
[code]

[2022-07-30 13:18] tkriplean commented on #192
For anyone else for whom this issue affects, the v6.6.5 files are working for me in a React 18 application.

[2022-08-31 04:06] LanFly opened #194 "The staggerConfig parameter does not take effect"
This is my demo code:
[code]

expect: The animation's speed is slower.
actual: The speed parameter does not take effect.

[2022-09-03 13:47] aholachek commented on #194
Hi LanFly,

I believe speed = 0.1 is the default config [(you can see the props definition here)](https://github.com/aholachek/react-flip-toolkit#flipper).

In general, `speed` is helpful for increasing the speed of stagger, but currently doesn't allow you to go much slower than the default.

[2022-09-03 13:53] aholachek commented on #193
Thanks for making this issue! An easy workaround is to make sure your flip ids are valid data attributes. The next time I update the library I'll add some processing to check for spaces.

[2022-09-03 14:03] michal-rybinski-91 commented on #193
Thank you for replying. Yeah, that's how I have resolved it. There is no build-in browser API for sanitizing string meant to be used in selectors, at least I didn't find it, so I ended up using some snippet from SO
Would be nice for lib to do it, or at least mention in the doc that this id will be used as data attribute and passed to selector "as is".

[2022-09-04 02:54] aholachek commented on #192
Hi @tkriplean, sorry for the delay in response. I just published v7.0.16, which fixes a bundler misconfiguration that broke UMD builds [(working demo here).](https://codepen.io/aholachek/pen/ERRpEj). Hopefully that should resolve the problem and thanks for raising this issue,

[2022-09-04 12:42] OperationalFallacy opened #196 "Animate text transitions for code blocks"
Hi,

Is it a right tool to implement transitions like this?

![animate](https://user-images.githubusercontent.com/62673610/188313735-d7c2588b-421b-4dcc-a72c-b801a1e940a2.gif)

These are animations from revealjs presentation framework.
https://revealjs.com/auto-animate/

I think it is based on ad-hoc style updates.
https://github.com/hakimel/reveal.js/blob/master/js/controllers/autoanimate.js#L59

[2022-09-05 23:04] tkriplean commented on #192
Thank you @aholachek!

[2022-09-06 01:54] #192 closed

[2022-09-14 18:14] tkriplean opened #197 "Flipper interface has onComplete, but not onStart"
I'd like to do some stuff when a Flipper is triggered. Unfortunately, Flipper's onStart callback is not exposed in the interface.

Curiously, Flipper *does* have an onStart callback (https://github.com/aholachek/react-flip-toolkit/blob/master/packages/flip-toolkit/src/Flipper.ts#L41), but it is not exposed in the interface (https://github.com/aholachek/react-flip-toolkit/blob/master/packages/flip-

[2022-09-14 18:42] aholachek commented on #197
Hi Travis,

It just was a mistake--I'd happily merge a pr with your change if you want to make one and then release a patch version.

[2022-09-15 21:59] tkriplean commented on #156
I also have this issue. You can work around it though, fairly easily. Probably way too late for you both, but perhaps useful to others later.

react-flip-toolkit [exposes the spring method](https://github.com/aholachek/react-flip-toolkit#spring) that is used under the hood to update your animation over time. So you can just instantiate the spring directly, and use it to update your transform.

[co

[2022-09-19 23:21] #197 closed

[2022-10-04 18:22] Djordjenp opened #199 "Delay Animation On Route Changing"
Hi, I am currently trying to make make animation that delays on route change, in my example when we are on home page (blue background), and I wanna go to about page (by pressing red square in the middle), I want red square to expand first then for blue one to contract in that order. Is such thing possible?

Here is my example:
[https://codesandbox.io/s/flip-toolkit-rout-change?file=/src/styles.css